<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="../../css/signUp.css">
</head>
<body class="signup">
    <h1 class="mainT">회원가입</h1>
    <p class="subT">*는 필수 입력란 입니다</p>

    <form class="formBox" th:action th:object="${member}" method="POST">
        <table>
            <tr>
                <td><label for="userId">* 아이디</label></td>
                <td><input type="text" id="userId" th:field="*{userId}" placeholder="아이디유효성" ></td>
                <td><input type="button" value="중복확인" onclick="#"></td>
            </tr>
            <tr>
                <td><label for="userPw">* 비밀번호</label></td>
                <td><input type="password" id="userPw" th:field="*{userPw}" placeholder="비번유효성" ></td>
            </tr>
            <tr>
                <td><label for="userPwCk">* 비밀번호 확인</label></td>
                <td><input type="password" id="userPwCk" th:field="*{userPwCheck}" placeholder="비번유효성" ></td>
            </tr>
            <tr>
                <td><label for="userEmail">* 이메일</label></td>
                <td><input type="email" id="userEmail" th:field="*{userMail}" placeholder="메일적는이유" ></td>
            </tr>
            <tr>
                <td><label>* 설정지역</label></td>
                <td>
                    <select th:field="*{userLocation}">
                        <option value="">지역선택1</option>
                        <option th:each="userLocation : ${userLocations}" th:value="${userLocation.code}" th:text="${userLocation.displayName}">서울특별시</option>
    <!--                    <option value="gangwondo">강원도</option>-->
                    </select>
                    <select id="userLocation2" th:field="*{userLocation2}">
                        <option value="">지역선택2</option>
                        <option th:each="userLocation2 : ${userLocation2}" th:value="${userLocation2.code}" th:text="${userLocation2.displayName}">용인시</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="userPhoto">프로필 사진</label></td>
                <td><input type="text" id="userPhoto" th:field="*{userPhoto}"></td>
            </tr>
        </table>
        <div class="submitBtn">
            <input type="submit" value="가입">
        </div>
    </form>
</body>
</html>