<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
        <meta charset="UTF-8">
        <title>홈</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/home.css" th:href="@{/css/home.css}">
        <script>
    <!-- 시스템 날짜 가져오기 -->
        function showDate(){
            let today = new Date();

            var now = (today.getMonth() + 1) + '월 ' + today.getDate() + '일';

            var h1 = document.getElementById("today");
            h1.innerHTML = "<h1>" + now + "</h1>";
        }
    </script>
</head>
<body onload="showDate()">
    <div>
        <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
        </div>
    </div>
    <div class="maincontent">
        <div class="introduce">
            <div id="today"></div>
            <h2 id="subT">우리동네 날씨와 추천코디를 참고해서 오늘도 완벽한 외출을 도와드릴게요!</h2>
        </div>

        <div class="mainLayout" id="weatherBox">
            <div id="temperature">
                <div class="temperatureInfo" id="temperatureInfoText">
                    <p id="temLocation" th:text="${region.childRegion}">성남시 분당구</p><p th:text="${region.weathers[0].temp}" id="temNumber">15</p><p id="temMaxMin">최고 [[${region.maxTemp}]] / 최저 [[${region.minTemp}]]</p>
                </div>
                <div class="temperatureInfo">
                    <th:block th:switch="${region.weathers[0].sky}">
                        <img th:case="맑음" src="../../static/img/home/weather_sun.png" th:src="@{https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/clear-day.svg}" width="200px">
                        <img th:case="|구름 많음|" th:src="@{https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/partly-cloudy-day.svg}" width="140px">
                        <img th:case="흐림" th:src="@{https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/cloudy.svg}" width="140px">
                        <img th:case="비" th:src="@{https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/drizzle.svg}" width="140px">
                        <img th:case="|비/눈|" th:src="@{https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/sleet.svg}" width="140px">
                        <img th:case="눈" th:src="@{https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/snow.svg}" width="140px">
                        <img th:case="소나기" th:src="@{https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/drizzle.svg}" width="140px">
                    </th:block>
                </div>
            </div>
            <div id="temperatureTable">
            <table th:object="${region}">
                <tr>
                    <th>시간</th>
                    <th>기온</th>
                    <th>상태</th>
                    <th>강수확률</th>
                </tr>
                <tr th:each="weather,i : *{weathers}">
                    <td th:if="${i.first}==false" th:text="|${weather.time}시|"></td>
                    <td th:if="${i.first}==false" th:text="|${weather.temp}°C|"></td>
                    <td th:if="${i.first}==false" th:text="${weather.sky}"></td>
                    <td th:if="${i.first}==false" th:text="|${weather.pop}%|"></td>
                </tr>
            </table>
            </div>
        </div>
        <div class="mainLayout" id="cody">
            <div><h1>오늘의 추천 코디</h1></div><div><button th:onclick="|location.href='@{/mypage/mycloset}'|">옷장보기</button></div>
            <div class="codyBox">
                <div class="codyImg"><img th:src="@{/img/clothes1.png}" width="60px"></div>
                <div class="codyName">자켓, 가디건</div>
            </div>
            <div class="codyBox">
                <div class="codyImg"><img th:src="@{/img/clothes2.png}" width="60px"></div>
                <div class="codyName">스타킹, 청바지, 면바지</div>
            </div>
        </div>
        <div class="mainLayout" id="schedule" th:fragment="schedule">
            <div><h1>오늘 외출 스케줄</h1></div> <div><button th:onclick="|location.href='@{/schedule}'|">스케줄관리</button></div>
            <div class="scheduleBox" id="scheduleFirst">
                <div class="scheduleContents">
                    <div class="time">
                        <div><img src="../../static/img/home/schedule_time.png" th:src="@{/img/home/schedule_time.png}" width="35px"></div>
                        <div class="scheduleContext">09:00 am - 18:00pm</div>
                    </div>
                    <div class="location">
                        <div><img src="../../static/img/home/schedule_location.png" th:src="@{/img/home/schedule_location.png}" width="35px"></div>
                        <div class="scheduleContext">서울시 강남구</div>
                    </div>
                    <div class="scheduleName">
                        <div><img src="../../static/img/home/schedule_name.png" th:src="@{/img/home/schedule_name.png}" width="35px"></div>
                        <div class="scheduleContext">근무</div>
                    </div>
                    <div class="progress">
                        <div><img src="../../static/img/home/schedule_progress.png" th:src="@{/img/home/schedule_progress.png}" width="35px"></div>
                        <div class="scheduleContext">진행중</div>
                    </div>
                </div>
            </div>
            <div class="scheduleBox" id="scheduleSecond">
                <div class="scheduleContents">
                    <div class="time">
                        <div><img src="../../static/img/home/schedule_time.png" th:src="@{/img/home/schedule_time.png}" width="35px"></div>
                        <div class="scheduleContext">19:00 pm - 21:00pm</div>
                    </div>
                    <div class="location">
                        <div><img src="../../static/img/home/schedule_location.png" th:src="@{/img/home/schedule_location.png}" width="35px"></div>
                        <div class="scheduleContext">성남시 분당구</div>
                    </div>
                    <div class="scheduleName">
                        <div><img src="../../static/img/home/schedule_name.png" th:src="@{/img/home/schedule_name.png}" width="35px"></div>
                        <div class="scheduleContext">율동공원 산책</div>
                    </div>
                    <div class="progress">
                        <div><img src="../../static/img/home/schedule_progress.png" th:src="@{/img/home/schedule_progress.png}" width="35px"></div>
                        <div class="scheduleContext">진행예정</div>
                    </div>
                </div>
            </div>
            <div class="scheduleBox"></div>
        </div>
    </div>
    <!-- 사이드바html에 페이지별 버튼 활성화 추가하고 싶었는데 타임리프 fragment는 메인화면으로 js를 못 가져와서 모든 페이지 하단에 추가함 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/menuactive.js}"></script>
</body>
</html>