<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>정보게시판</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/infoboard.css" th:href="@{/css/infoboard.css}">
</head>
<body>
  <div>
    <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
    </div>
  </div>
  <div class="maincontent">
      <div id="top">
        <div class="introduce">
          <div>지역별 정보</div>
          <h2 id="subT">지역을 선택하고 그 지역의 궁금한 정보를 질문하고 답하며 소통해요!<br>
            또한 만약 우리동네 자랑거리가 있다면 자랑해주세요! (맛집소개, 갈만한 곳 추천 등) </h2>
        </div>
        <div id="weatherWidget">
          <div class="widgetElementContainer">
              <img class="widgetElement" id="currentSky" src="https://basmilius.github.io/weather-icons/production/line/all/star.svg">
          </div>
          <div class="widgetElementContainer">
              <p class="widgetElement" id="currentLocation1"></p>
              <p class="widgetElement" id="currentLocation2">Loading...</p>
              <p class="widgetElement" id="currentTemp"></p>
          </div>
          <div class="widgetElementContainer">
              <p class="widgetElement">
                  <span id="currentMax">🔥</span>
                  <span>/</span>
                  <span id="currentMin">💧</span>
              </p>
          </div>
        </div>
      </div>
      <div id="mainLayout">
          <div id="option">
              <div id="optionselect">
                  <div>
                      <select id="userLocation">
                          <option value="">시/도 선택</option>
                      </select>
                  </div>
                  <div>
                      <select id="userLocation2">
                          <option value="">시/군/구 선택</option>
                      </select>
                  </div>
                  <button onclick="goToBoard()">Go</button>
              </div>
              <div>
                  <select id="searchoption">
                      <option value="">옵션선택</option>
                      <option>제목</option>
                      <option>작성자</option>
                  </select>
                  <button id="searchbox">검색</button>
              </div>
          </div>
          <div id="board">
              <table>
                  <tr>
                      <th>번호</th>
                      <th>유형</th>
                      <th class="boardtitle">제목</th>
                      <th>작성자</th>
                      <th>작성일</th>
                      <th>조회수</th>
                  </tr>

                  <!--UserId와 title의 순서를 바꿈 왜 UserId 자리에 title이 오고 title 자리에 UserId가 오는 걸까???-->
                  <tr th:each="board: ${boardList}">
                      <td th:text="${board.id}"></td>
                      <td th:text="${board.postType}"></td>
                      <td><a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}" th:text="${board.title}"></a></td>
<!--                      <td><a th:text="${board.userId}"></a></td>-->
                      <td th:text="${board.userId}"></td>
                      <td th:text="*{#temporals.format(board.postdateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td th:text="${board.hits}"></td>
                  </tr>

              </table>
              <div id="writeboard">
                  <button th:onclick="|saveReq()|">새글작성</button>
              </div>
              <div id="paging" th:if="${!boardList.isEmpty()}" >
                  <!-- 첫번째 페이지로 이동 -->
                  <!-- /board/paging?page=1 -->
                  <a th:href="@{/board/paging/region(parentRegion=${parentRegion},childRegion=${childRegion},page=1)}">&lt;&lt;</a>
                  <!-- 이전 링크 활성화 비활성화 -->
                  <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
                  <a th:href="${boardList.first} ? '#' : @{/board/paging/region(parentRegion=${parentRegion},childRegion=${childRegion},page=${boardList.number})}">&lt;</a>

                  <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                          for(int page=startPage; page<=endPage; page++)-->
                  <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
            <!-- 현재페이지는 링크 없이 숫자만 -->
                      <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
                                  <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
                      <span th:unless="${page == boardList.number + 1}">
                          <a th:href="@{/board/paging/region(parentRegion=${parentRegion},childRegion=${childRegion},page=${page})}" th:text="${page}"></a>
                      </span>
                  </span>

                  <!-- 다음 링크 활성화 비활성화
                      사용자: 2페이지, getNumber: 1, 3페이지-->
                  <a th:href="${boardList.last} ? '#' : @{/board/paging/region(parentRegion=${parentRegion},childRegion=${childRegion},page=${boardList.number + 2})}">&gt;</a>
                  <!-- 마지막 페이지로 이동 -->
                  <a th:href="@{/board/paging/region(parentRegion=${parentRegion},childRegion=${childRegion},page=${boardList.totalPages})}">&gt;&gt;</a>
              </div>
              <div id="nonePaging" th:unless="${!boardList.isEmpty()}" style="text-align:center;">
                  아직 등록된 글이 없습니다 🤔
              </div>
          </div>
      </div>

  </div>
  <!-- 사이드바html에 페이지별 버튼 활성화 추가하고 싶었는데 타임리프 fragment는 메인화면으로 js를 못 가져와서 모든 페이지 하단에 추가함 -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/menuactive.js}"></script>
</body>

<script>

</script>

<script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
         window.addEventListener('DOMContentLoaded', function(){
            loadArea('loadParent',$(this));
            var params = (new URL(document.location)).searchParams;
            var pRegion=params.get('parentRegion');
            var cRegion=params.get('childRegion');
            loadWeather(pRegion,cRegion);
        });

        const saveReq = () => {
            var location1=document.getElementById("userLocation").value;
            var location2=document.getElementById("userLocation2").value;
            location.href = "/board/save?parentRegion="+location1+"&childRegion="+location2;
        }

        function goToBoard(){
            var location1=document.getElementById("userLocation").value;
            var location2=document.getElementById("userLocation2").value;
            location.href="/board/paging/region?parentRegion="+location1+"&childRegion="+location2;
        }

        function loadWeather(location1,location2){
            $.ajax({
                    url: "/region/api/currentWeather",
                    data:{parentRegion:location1,childRegion:location2},
                    dataType: "JSON",
                    method: "GET",
            }).done(function(res){
                $('#currentLocation1').text(res.parentRegion);
                $('#currentLocation2').text(res.childRegion);
                $('#currentTemp').text(res.weathers[0].temp);
                $('#currentMax').text("최고".concat(res.maxTemp));
                $('#currentMin').text("최저".concat(res.minTemp));
                var skyImage="";
                switch(res.weathers[0].sky){
                    case "맑음":
                        skyImage="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/clear-day.svg";
                        break;
                    case "구름 많음":
                        skyImage="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/partly-cloudy-day.svg";
                        break;
                    case "흐림":
                        skyImage="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/cloudy.svg";
                        break;
                    case "비":
                        skyImage="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/drizzle.svg";
                        break;
                    case "비/눈":
                        skyImage="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/sleet.svg";
                        break;
                    case "눈":
                        skyImage="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/snow.svg";
                        break;
                    case "소나기":
                        skyImage="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/drizzle.svg";
                        break;
                    default:
                        skyImage="https://bmcdn.nl/assets/weather-icons/v3.0/fill/svg/clear-day.svg";
                }

                $('#currentSky').attr("src",skyImage);
            });
        }

</script>
<script>

        $('#userLocation').on("change",function(){
            loadArea('loadChild',$(this));
        });
        function loadArea(selectedType,selectedValue){
                $.ajax({
                    url: "/region/api",
                    dataType: "JSON",
                    method: "GET"
                }).done(function(res){
                   if(selectedType == 'loadParent'){
                        var urlParams=new URL(location.href).searchParams;
                        var loc1=urlParams.get('parentRegion');
                        var loc2=urlParams.get('childRegion');
                        $.each(res, function (index,value){
                            var hasOption=$('#userLocation option[value="'+value.parentRegion+'"]').length;
                            if(hasOption==0){
                                if(value.parentRegion===loc1){
                                    $('#userLocation').append('<option value="'+value.parentRegion+'" selected>'+value.parentRegion+'</option>');
                                }else{
                                    $('#userLocation').append('<option value="'+value.parentRegion+'">'+value.parentRegion+'</option>');
                                }

                            }
                            if(value.parentRegion===loc1){
                                if(value.childRegion===loc2){
                                    $('#userLocation2').append('<option value="'+value.childRegion+'" selected>'+value.childRegion+'</option>');
                                }else{
                                    $('#userLocation2').append('<option value="'+value.childRegion+'">'+value.childRegion+'</option>');
                                }
                            }
                        });
                   }else if(selectedType == 'loadChild'){
                        var selectedValueText = $(selectedValue).find('option:selected').text();
                        $('#userLocation2').empty();
                        $.each(res, function (index,value){

                            if(selectedValueText==value.parentRegion){
                                $('#userLocation2').append('<option value="'+value.childRegion+'">'+value.childRegion+'</option>');
                            }
                        });
                   }
                });
        }

    </script>

</html>