<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>정보게시판</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/infoboard.css" th:href="@{/css/infoboard.css}">
</head>
<body>
  <div>
    <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
    </div>
  </div>
  <div class="maincontent">
      <div id="top">
        <div class="introduce">
          <div>지역별 정보</div>
          <h2 id="subT">지역을 선택하고 그 지역의 궁금한 정보를 질문하고 답하며 소통해요!<br>
            또한 만약 우리동네 자랑거리가 있다면 자랑해주세요! (맛집소개, 갈만한 곳 추천 등) </h2>
        </div>
        <div id="temperature">
           <div class="temperatureInfo" id="temperatureInfoText">
              <p id="temLocation">성남시 분당구</p><p id="temNumber">15</p><p id="temMaxMin">최고 15 / 최저 0</p>
           </div>
           <div class="temperatureInfo">
              <img src="../../static/img/home/weather_sun.png" th:src="@{/img/home/weather_sun.png}" width="60px">
           </div>
        </div>
      </div>

      <div id="mainLayout">
          <div id="option">
              <div id="optionselect">
                  <select >
                      <option value="">시/도 선택</option>
                      <option>서울특별시</option>
                  </select>
                  <select id="userLocation2">
                      <option value="">시/군/구 선택</option>
                      <option>세종특별자치시</option>
                  </select>
              </div>
              <div>
                  <select id="searchoption">
                      <option value="">옵션선택</option>
                      <option>제목</option>
                      <option>작성자</option>
                  </select>
              </div>
              <div>
                  <input type="text" id="searchbox">
              </div>
              <div>
                  <button>검색</button>
              </div>
          </div>
          <div id="board">
              <table>
                  <tr>
                      <th>번호</th>
                      <th>유형</th>
                      <th class="boardtitle">제목</th>
                      <th>작성자</th>
                      <th>작성일</th>
                      <th>조회수</th>
                  </tr>

                  <!--UserId와 title의 순서를 바꿈 왜 UserId 자리에 title이 오고 title 자리에 UserId가 오는 걸까???-->
                  <tr th:each="board: ${boardList}">
                      <td th:text="${board.id}"></td>
                      <td th:text="${board.postType}"></td>
                      <td><a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}" th:text="${board.userId}"></a></td>
<!--                      <td><a th:text="${board.userId}"></a></td>-->
                      <td th:text="${board.title}"></td>
                      <td th:text="*{#temporals.format(board.postdateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td th:text="${board.hits}"></td>
                  </tr>

              </table>
              <div id="writeboard">
                  <button th:onclick="|saveReq()|">새글작성</button>
              </div>
              <div id="paging">
                  <!-- 첫번째 페이지로 이동 -->
                  <!-- /board/paging?page=1 -->
                  <a th:href="@{/board/paging(page=1)}">&lt;&lt;</a>
                  <!-- 이전 링크 활성화 비활성화 -->
                  <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
                  <a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">&lt;</a>

                  <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                          for(int page=startPage; page<=endPage; page++)-->
                  <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
            <!-- 현재페이지는 링크 없이 숫자만 -->
                      <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
                                  <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
                      <span th:unless="${page == boardList.number + 1}">
                          <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
                      </span>
                  </span>

                  <!-- 다음 링크 활성화 비활성화
                      사용자: 2페이지, getNumber: 1, 3페이지-->
                  <a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">&gt;</a>
                  <!-- 마지막 페이지로 이동 -->
                  <a th:href="@{/board/paging(page=${boardList.totalPages})}">&gt;&gt;</a>
              </div>
          </div>
      </div>

  </div>
  <!-- 사이드바html에 페이지별 버튼 활성화 추가하고 싶었는데 타임리프 fragment는 메인화면으로 js를 못 가져와서 모든 페이지 하단에 추가함 -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/menuactive.js}"></script>
</body>

<script>
    const saveReq = () => {
        location.href = "/board/save";
    }

</script>
</html>