<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/mypage.css" th:href="@{/css/mypage.css}">
</head>
<body>
<div>
  <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
  </div>
</div>
<div class="maincontent">
  <div class="introduce">
    <h1>마이페이지</h1>
  </div>
  <div id="mypagebtn">
  <div>
    <button th:onclick="|location.href='@{/mypage/update-information-checkpw}'|">🔖 정보수정</button>
  </div>
  <div>
    <button th:onclick="|location.href='@{/mypage/mycloset}'|">👕 내옷장</button>
  </div>
  <div>
    <button th:onclick="|location.href='@{/mypage/diary}'|">📝 코디일기</button>
  </div>
  <div>
    <button th:onclick="|location.href='@{/mypage/favorite}'|">👍 즐겨찾기 게시글</button>
  </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/menuactive.js}"></script>

</body>
</html>