<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>스케줄관리</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/schedule.css" th:href="@{/css/schedule.css}">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <style>
        input[type='text']{
          font-family: 'IM_Hyemin-Regular';
        }
        input[type='checkbox']{
          font-family: 'IM_Hyemin-Regular';
        }    
        input[type="date"]{
            font-family: 'IM_Hyemin-Regular';
        }
        input[type="select"]{
            font-family: 'IM_Hyemin-Regular';
        }
        button{
            font-family: 'IM_Hyemin-Regular';
        }
        .checkbox-container{
            font-family: 'IM_Hyemin-Regular';
        }
        #colorBox input{
            accent-color: #FFCA99;
        }
        select{
            font-family: 'IM_Hyemin-Regular';
        }

        :root{
          --fc-button-text-color: #fff;
          --fc-button-bg-color: #F6F6F6;
          --fc-button-border-color: #F6F6F6;
          --fc-button-hover-bg-color: #FDEEDC;
          --fc-button-hover-border-color: #FDEEDC;
          --fc-button-active-bg-color: #FFA857;
          --fc-button-active-border-color: #FFA857;
          --fc-today-bg-color: rgba(254, 236, 233, 0.50);

        }

        .container{
            width:65rem;
            margin-left:20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            /* display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr; */
        }

        .container>#calendar{
            flex:0 1 40rem;
            /* grid-column: span 2; */
        }
        
        .container>#calendar-side-area{
            /* grid-column: span 1; */
            flex:1 1 20rem;
            margin:3rem 1rem 0rem 1rem;
            display:flex;
            flex-direction: column;
            row-gap:0.5rem;
        }

        
        /* fullcalendar 설정 */

        .fc-header-toolbar{
            width: 40%;
        }

        .fc-dayGridMonth-button{
            border-radius:1.5rem;
            width:30%;
        }
        .fc-timeGridWeek-button{
            border-radius:1.5rem;
            width:30%;
        }
        .fc-timeGridDay-button{
            border-radius:1.5rem;
            width:30%;
        }

        .fc .fc-button-primary:not(:disabled).fc-button-active{

            border:none;
            margin:5% 2% 5% 1%;
        }

        .fc .fc-button-primary:focus, .fc .fc-button-primary:not(:disabled).fc-button-active:focus{

            border:none;
            box-shadow:none;
            margin:5% 2% 5% 1%;
        }

        .fc .fc-button-primary:not(:disabled).fc-button-active:hover{

            border:none;
            margin:5% 2% 5% 1%;
        }

        .fc .fc-button-primary[aria-pressed="false"]{
            color:#F1A661;
            border:none;
            margin:5% 2% 5% 1%;
        }
        .fc .fc-button-primary:hover{

            border:none;
            margin:5% 2% 5% 1%;
        }


        #fc-dom-1{
            width: 70%;
            margin-left: 2%;
            display: inline-block;
            font-size: 1.3rem;
            letter-spacing: .1rem;
            word-spacing: .2rem;
            font-weight: 600;
            vertical-align: middle;
        }

        .fc .fc-button .fc-icon{
            font-size:1rem;
            color:#EEEEEE;
        }
        .fc .fc-prev-button{
            background-color:#FFA857;
            display: inline-block;
            border-radius: 2rem;
            font-size:1rem;
            line-height:0.5rem;
            padding:0.2rem;
            vertical-align: middle;

        }
       .fc .fc-next-button{
            background-color:#FFA857;
            display: inline-block;
            border-radius: 2rem;
            font-size:1rem;
            line-height:0.5rem;
            padding:0.2rem;
            vertical-align: middle;

        }

        .fc-col-header-cell{
            height:5Vh;
        }

        .fc .fc-scrollgrid{
            border-radius: 0.5rem;
            border-style: hidden;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        }

        .fc-col-header-cell{
            background-color:#FFBFA9;
        }

        .fc-timegrid-axis{
            background-color:#FFBFA9;
        }

        .fc-col-header-cell-cushion{
            margin-top:1rem;
            font-size:1rem;
        }

        .fc-daygrid-day-number{
            font-size:1rem;
        }

        .fc-timegrid-axis-cushion{
            font-size:1rem;
        }

        .fc-timegrid-slot-label-cushion{
            font-size:1rem;
        }

        .field-error {
                border-color: #dc3545;
                color: #dc3545;
                font-size: 0.7rem;
        }

    </style>
</head>
<body>
    <div>
        <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
        </div>
    </div>
    <div class="maincontent">
        <div class="introduce">
            <h1>스케줄 관리</h1>
            <h2 id="subT"><span th:text="${member.userId}">jojo39</span>님의 외출 스케줄 입니다!</h2>
        </div>
        <div class="container">
            <div id="calendar"></div>
            <div id="calendar-side-area">
                <div id="addButton-container">
                    <button id="addButton" name="addButton" type="button" onclick="location.href='schedule/add'">add</button>
                </div>
                <div id="calendar-form-container">
                    <div id="calendar-form-title">
                        <span>schedule info</span>
                        <div>
                            <!-- <button id="modifyButton" name="modify" type="button">✏️</button> -->
                            <!-- <button id="addButton" name="add" type="button" onclick="onAdd()">➕</button> -->
                        </div>
                    </div>
                    <form id="calendar-form">
                        <div class="formItem">
                            <label for="datepicker-box">😶</label>
                            <div id="datepicker-box">
                                <input class="formElement" type="date" id="datepicker" name="date" value="" readonly>
                            </div>
                        </div>
                        <div class="formItem">
                            <label for="timeslotBox">😶</label>
                            <div id="timeslotBox">
                                <div>
                                    <select id="timeslot1" name="startHour" readonly>
                                        <option value="">--</option>
                                    </select>
                                    <span>:</span>
                                    <select id="timeslot2" name="startMin" readonly>
                                        <option value="">--</option>
                                    </select>
                                </div>
                                <div>
                                    <select id="timeslot3" name="endHour" readonly>
                                        <option value="">--</option>
                                    </select>
                                    <span>:</span>
                                    <select id="timeslot4" name="endMin" readonly>
                                        <option value="">--</option>
                                    </select>
                                </div>
                            
                                <input type="hidden" id="id" value="">
                            </div>
                        </div>
                        <div class="formItem">
                            <label for="sTitleBox">😶</label>
                            <div id="sTitleBox">
                                <input class="formElement" type="text" id="sTitle" name="title" value="" readonly>
                            </div>
                        </div>
                       <div class="formItem">
                            <label for="sContentBox">😶</label>
                            <div id="sContentBox">
                                <input class="formElement" type="text" id="sContent" name="discription"  value="" readonly>
                            </div>
                       </div>
                        <div class="formItem">
                            <label for="locationBox">😶</label>
                            <div id="locationBox">
                                <div>
                                    <select id="userLocation" name="userLocation" readonly>
                                        <option value="">시/도 선택</option>
                                    </select>
                                </div>
                                <div>
                                    <select id="userLocation2" name="userLocation2" readonly>
                                        <option value="">시/군/구 선택</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="formItem">
                            <label id="changeColor" for="changeColor">👩‍🎨</label>
                            <div id="colorBox">
                                <div>
                                    <label for="red">❤️</label>
                                    <input class="formElement" type="radio" id="red"  name="sColor" value="red" readonly>
                                </div>
                               <div>
                                    <label for="orange">🧡</label>
                                    <input class="formElement" type="radio" id="orange" name="sColor" value="orange" readonly>
                               </div>
                                <div>
                                    <label for="yellow">💛</label>
                                    <input class="formElement" type="radio" id="yellow" name="sColor" value="yellow" readonly>
                                </div>
                                <div>
                                    <label for="green">💚</label>
                                    <input class="formElement" type="radio" id="green"  name="sColor" value="green" readonly>
                                </div>
                                <div>
                                    <label for="sky blue">💙</label>
                                    <input class="formElement" type="radio" id="sky blue" name="sColor" value="sky blue" readonly> 
                                </div>
                                <div>
                                    <label for="purple">💜</label>
                                    <input class="formElement" type="radio" id="purple" name="sColor" value="purple" readonly>
                                </div>
                            </div>
                        </div>
                        
                        <div id="form-bottom-box" class="formItem">
                            <button id="editButton" name="editButton" type="button" onclick="toEditForm()">변경하기</button>
                            <button id="deleteButton" name="deleteButton" type="button" onclick="toDelete()">삭제하기</button>
                            <!-- <button class="" id="submitButton" name="submitButton" type="submit" disabled>🔒</button> -->
                            <!-- <button id="rollbackButton" name="rollbackButton" type="button" onclick="">취소</button> -->
                        </div>

                    </form>
                </div>

                
                <div id="reminder-container">
                    <div id="reminder">
                        <div class="orange-title">
                            <div class="orange-title-text">reminder</div>
                        </div>
                        <div>
                            <label for="ssTimeslot">😶</label>
                            <input type="text" id="ssTimeslot" name="ssTimeslot" value="" readonly>
                        </div>
                        <div>
                            <label for="ssLoc">😶</label>
                            <input type="text" id="ssLoc" name="ssLocation" value="" readonly>
                        </div>
                        <div>
                            <label for="ssTitle">😶</label>
                            <input type="text" id="ssTitle" name="ssTitle" value="" readonly>
                        </div>
                        <div>
                            <label for="ssContent">😶</label>
                            <input type="text" id="ssContent" name="ssContent" value="" readonly>
                        </div>
                    </div>

                </div>
                <div id="reminder-container2">
                    <div id="reminder2">
                        <div class="orange-title">
                            <div class="orange-title-text">reminder</div>
                        </div>
                        <div>
                            <label for="ssTimeslot2">😶</label>
                            <input type="text" id="ssTimeslot2" name="ssTimeslot2" value="" readonly>
                        </div>
                        <div>
                            <label for="ssLoc2">😶</label>
                            <input type="text" id="ssLoc2" name="ssLocation2" value="" readonly>
                        </div>
                        <div>
                            <label for="ssTitle2">😶</label>
                            <input type="text" id="ssTitle2" name="ssTitle2" value="" readonly>
                        </div>
                        <div>
                            <label for="ssContent2">😶</label>
                            <input type="text" id="ssContent2" name="ssContent2" value="" readonly>
                        </div>
                    </div>

                </div>
            
            </div>
        </div>
    </div>
    <!-- 사이드바html에 페이지별 버튼 활성화 추가하고 싶었는데 타임리프 fragment는 메인화면으로 js를 못 가져와서 모든 페이지 하단에 추가함 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // loadArea('loadParent',$(this));
        // loadTime('init');
        var request=$.ajax({
            url:"/schedule/api/find/member",
            method:"GET",
            dataType:"json",
        }).done(function(data){
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            height: '80vh',
            selectable: false,
            allDaySlot:false,
            headerToolbar: {
                left: 'dayGridMonth,timeGridWeek,timeGridDay,title,prev,next',
                right: ''
            },
            events:data,


            eventClick: function(info) {
                    // eventSaveTemp(info);
                    var eventId=info.event.id;
                    var eventDate=info.event.start;
                    var eventTitle=info.event.title;
                    var eventStart=info.event.start;
                    var eventEnd=info.event.end;
                    var back=info.event.backgroundColor;
                    var border=info.event.borderColor;
                    var loc1=info.event.extendedProps.parentRegion;
                    var loc2=info.event.extendedProps.childRegion;
                    var des=info.event.extendedProps.description;
                    // console.log(eventId);
                    // console.log(eventDate);
                    // console.log(eventTitle);
                    // console.log(eventStart);
                    // console.log(eventEnd);
                    // console.log(back);
                    // console.log(border);
                    // console.log(loc1);
                    // console.log(loc2);
                    // console.log(des);
                    
                    //타이틀 ,id , date, 내용을 폼에 전달
                    $('#sTitle').val(eventTitle);
                    $('#id').val(eventId);
                    var eDate = new Date(eventDate);
                    var y=eDate.getFullYear();
                    var m=("0" + (eDate.getMonth() + 1)).slice(-2);
                    var d = ("0" + eDate.getDate()).slice(-2);
                    $('#datepicker').val(y+"-"+m+"-"+d);
                    $('#sContent').val(des);

                    //지역값을 폼의 select에 전달
                    $('#userLocation').append('<option value="'+loc1+'" selected>'+loc1+'</option>');
                    $('#userLocation2').append('<option value="'+loc2+'" selected>'+loc2+'</option>');

                    var formattedStartTime=new Date(eventStart);
                    console.log(formattedStartTime+'날씨 포맷 변경 테스트');
                    var startHour=(formattedStartTime.getHours()<10?'0':'') + formattedStartTime.getHours();
                    console.log(startHour+'날씨 포맷 변경 테스트 hour');
                    var startMin=(formattedStartTime.getMinutes()<10?'0':'') + formattedStartTime.getMinutes();
                    console.log(startMin+'날씨 포맷 변경 테스트 min');
                    var formattedEndTime=new Date(eventEnd);
                    var endHour=(formattedEndTime.getHours()<10?'0':'') + formattedEndTime.getHours();
                    var endMin=(formattedEndTime.getMinutes()<10?'0':'') + formattedEndTime.getMinutes();
                    //시간값을 폼의 select에 전달
                    $('#timeslot1').append('<option value="'+startHour+'" selected>'+startHour+'</option>');
                    $('#timeslot2').append('<option value="'+startMin+'" selected>'+startMin+'</option>');
                    $('#timeslot3').append('<option value="'+endHour+'" selected>'+endHour+'</option>');
                    $('#timeslot4').append('<option value="'+endMin+'" selected>'+endMin+'</option>');

                    // 색상 값이 hsl인 경우
                    var selectedColor=info.event.backgroundColor;
                    if(selectedColor.includes('hsl')){
                        console.log('작동함');
                        if(selectedColor.slice(4,5)=='0'){
                            console.log('hsl red');
                            selectedColor='red';
                        }else if(selectedColor.slice(4,6)=='30'){
                            console.log('hsl orange');
                            selectedColor='orange';
                        }else if(selectedColor.slice(4,6)=='60'){
                            console.log('hsl yellow');
                            selectedColor='yellow';
                        }else if(selectedColor.slice(4,6)=='90'){
                            selectedColor='lime green';
                        }else{
                            switch(selectedColor.slice(4,7)){
                                case '120':
                                console.log('hsl green');
                                selectedColor='green';
                                break;
                                case '210':
                                console.log('hsl sky blue');
                                selectedColor='sky blue';
                                break;
                                case '270':
                                console.log('hsl purple');
                                selectedColor='purple';
                                break;
                            }
                        }
                    }
                    console.log("색 선택 : "+selectedColor);
                    document.forms['calendar-form'][selectedColor].checked=true;

                    // $('#rollbackButton').on("click",function(){
                    //     $('#sTitle').val(eventTitle);
                    //     $('#id').val(eventId);
                    //     $('#datepicker').val(y+"-"+m+"-"+d);
                    //     loadTime("init");
                    //     $('#timeslot1').val(startHour);
                    //     $('#timeslot2').val(startMin);
                    //     $('#timeslot3').val(endHour);
                    //     $('#timeslot4').val(endMin);
                    //     $('#sContent').val(des);
                    //     loadArea('event',loc1,loc2);
                    //     document.forms['calendar-form'][selectedColor].checked=true;

                    //     var formElements=document.getElementsByClassName("formElement");
                    //     for(let i=0;i<formElements.length;i++){
                    //         formElements[i].setAttribute('readOnly','readonly');
                    //     }
                        
                    //     $('#submitButton').text('🔒');
                    //     document.getElementById('submitButton').disabled=true;
                    // });

                    // $('#modifyButton').on("click",function(){
                    //     loadArea('loadParent',$('#userLocation').val(),$('#userLocation2').val());
                    //     loadTime("");
                    //     $('#timeslot1 option').filter('[value='+startHour+']').attr('selected',true);
                    //     $('#timeslot2 option').filter('[value='+startMin+']').attr('selected',true);
                    //     $('#timeslot3 option').filter('[value='+endHour+']').attr('selected',true);
                    //     $('#timeslot4 option').filter('[value='+endMin+']').attr('selected',true);
                    //     var formElements=document.getElementsByClassName("formElement");
                    //     for(let i=0;i<formElements.length;i++){
                    //         formElements[i].readOnly = false;
                    //     }
                    //     // var addButton=document.getElementById('addButton');
                    //     // addButton.setAttribute("disabled", "");

                    //     document.getElementById('submitButton').disabled=false;
                    //     $('#submitButton').text('변경사항 저장');

                    //     var idValue=$('#id').val();
                    //     console.log('변경 폼 : 스케줄 id'+idValue);

                    //     $('#calendar-form').attr('action','/schedule/edit/'+idValue);
                    // });

            },
            });
            calendar.render();
        });
        loadReminder();
    });

    // function loadTime(loadType,inputData){
    //     console.log('시간 설정 함수');
    //     $('#timeslot1').empty();
    //     $('#timeslot2').empty();
    //     $('#timeslot3').empty();
    //     $('#timeslot4').empty();
    //     $('#timeslot1').append('<option value=-->--</option>');
    //     $('#timeslot2').append('<option value=-->--</option>');
    //     $('#timeslot3').append('<option value=-->--</option>');
    //     $('#timeslot4').append('<option value=-->--</option>');

    //     for(let i=0;i<=24;i++){
    //         var hour=(i<10)?'0'+i:i;
    //         $('#timeslot1').append('<option value="'+hour+'">'+hour+'</option>');
    //         $('#timeslot3').append('<option value="'+hour+'">'+hour+'</option>');
    //     }
    //     for(let i=0;i<=5;i++){
    //         var min=i+'0';
    //         $('#timeslot2').append('<option value="'+min+'">'+min+'</option>');
    //         $('#timeslot4').append('<option value="'+min+'">'+min+'</option>');
    //     }

    //     if(loadType=='init'){
    //         //이벤트를 받아올 경우 empty()로 값이 사라지지 않게 코드 실행 순서에 주의
    //         $('#timeslot1').attr('disabled',true);
    //         $('#timeslot2').attr('disabled',true);
    //         $('#timeslot3').attr('disabled',true);
    //         $('#timeslot4').attr('disabled',true);
    //     }else{
    //         $('#timeslot1').removeAttr('disabled');
    //         $('#timeslot2').removeAttr('disabled');
    //         $('#timeslot3').removeAttr('disabled');
    //         $('#timeslot4').removeAttr('disabled');
    //     }

    // }
    
    function toEditForm(){
        var idValue=$('#id').val();
        location.href='/schedule/edit/'+idValue;
    }

    function toDelete(){
        var idValue=$('#id').val();
        location.href='/schedule/delete/'+idValue;
    }

    </script>

    <script type=text/javascript>
        function loadReminder(){
            $.ajax({
                url:"/schedule/api/find/member/upcoming",
                method:"GET",
                dataType:"json",
            }).done(function(res){
                //ssLoc ssTimeslot new Date(eventDate);
                for(var i=0;i<res.length;i++){
                    if(i==0){
                        var start1=new Date(res[0].start);
                        var startHour1=start1.getHours();
                        var startMin1=start1.getMinutes();
                        var end1=new Date(res[0].end);
                        var endHour1=end1.getHours();
                        var endMin1=end1.getMinutes();
                        $('#ssTitle').attr('value',res[0].title);
                        $('#ssContent').attr('value',res[0].extendedProps.description);
                        $('#ssTimeslot').attr('value',startHour1+":"+startMin1+"-"+endHour1+":"+endMin1);
                        $('#ssLoc').attr('value',res[0].extendedProps.parentRegion.concat(res[0].extendedProps.childRegion));
                    }else if(i==1){
                        var start2=new Date(res[1].start);
                        var startHour2=start2.getHours();
                        var startMin2=start2.getMinutes();
                        var end2=new Date(res[1].end);
                        var endHour2=end2.getHours();
                        var endMin2=end2.getMinutes();
                        $('#ssTitle2').attr('value',res[1].title);
                        $('#ssContent2').attr('value',res[1].extendedProps.description);
                        $('#ssTimeslot2').attr('value',startHour2+":"+startMin2+"-"+endHour2+":"+endMin2);
                        $('#ssLoc2').attr('value',res[1].extendedProps.parentRegion.concat(res[1].extendedProps.childRegion));
                    }
                }
               
                
            });
        }
    </script>

    <!-- <script type=text/javascript>
        function onAdd(){
            //지역,시간 셀렉트박스 세팅
            $('#userLocation').val('');
            $('#userLocation2').val('');
            loadArea('loadParent',"","");
            loadTime("");
            //폼 초기화
            var formElements=document.getElementsByClassName("formElement");
            for(let i=0;i<formElements.length;i++){
                formElements[i].value='';
                formElements[i].readOnly = false;
            }
            //칼라 radio박스 초기값 - red
            document.forms['calendar-form']['red'].checked=true; 
            //히든필드 이벤트 아이디값도 초기화하고 disabled (여기에서 지정하지 않음)
            $('#id').val('');
            document.getElementById('id').disabled=true;
            
            var modifyButton=document.getElementById('modifyButton');
            modifyButton.setAttribute("disabled", "");

            document.getElementById('submitButton').disabled=false;
            $('#submitButton').text('생성하기');
            $('#calendar-form').attr('action','/schedule/add');
        }
    </script>  -->

    

<!-- <script>//시간 셀렉트박스 함수

    $('#timeslot1').on("change",function(){
        var value=$(this).val();
        $('#timeslot3').empty();
        var valueSliced=(value<10)?parseInt(value.slice(1),10):value;
        if(value=='--'){
            loadTime("");
        }else{
            for(let i=valueSliced;i<=24;i++){
                var hour=(i<10)?'0'+i:i;
                $('#timeslot3').append('<option value="'+hour+'">'+hour+'</option>');
            }
        }   
    });

    $('#timeslot2').on("change",function(){
        changeSelectableMinutes();
    });
    $('#timeslot3').on("change",function(){
        changeSelectableMinutes();
    });

    function changeSelectableMinutes(){
        var value2=$('#timeslot2').val();
        $('#timeslot4').empty();
        var value2Sliced=parseInt(value2.slice(0,1),10);

        if($('#timeslot3').val()==$('#timeslot1').val()){
            for(let i=value2Sliced+1;i<=5;i++){
                var min=i+'0';
                $('#timeslot4').append('<option value="'+min+'">'+min+'</option>');
            }
        }else{
            for(let i=0;i<=5;i++){
                var min=i+'0';
                $('#timeslot4').append('<option value="'+min+'">'+min+'</option>');
            }
        }
    }

</script>

<script>//지역 셀렉트박스 함수 
    
    $('#userLocation').on("change",function(){
        loadArea('loadChild',$(this),"");
    });
    function loadArea(selectedType,parentValue,childValue){
        $.ajax({
            url: "/region/api",
            dataType: "JSON",
            method: "GET"
        }).done(function(res){
            if(selectedType == 'loadParent'){//일정 생성할 때
                console.log('loadParent');
                $('#userLocation1').empty();
                $('#userLocation2').empty();
                $.each(res, function (index,value){
                    var hasOption=$('#userLocation option[value="'+value.parentRegion+'"]').length;
                    if(hasOption==0){
                        if(value.parentRegion===parentValue){
                            $('#userLocation').append('<option value="'+value.parentRegion+'" selected>'+value.parentRegion+'</option>');
                        }else{
                            $('#userLocation').append('<option value="'+value.parentRegion+'">'+value.parentRegion+'</option>');
                        }

                    }
                    if(value.parentRegion===parentValue){
                        var hasOption2=$('#userLocation2 option[value="'+value.parentRegion+'"]').length;
                        if(hasOption2==0){
                            if(value.childRegion===childValue){
                                $('#userLocation2').append('<option value="'+value.childRegion+'" selected>'+value.childRegion+'</option>');
                            }else{
                                $('#userLocation2').append('<option value="'+value.childRegion+'">'+value.childRegion+'</option>');
                            }
                        }
                    }
                });
            }else if(selectedType == 'loadChild'){//userLocation을 선택했을 때,일정 변경할 때
                console.log('loadChild');
                var selectedValueText = $(parentValue).find('option:selected').text();
                $('#userLocation2').empty();
                $.each(res, function (index,value){

                    if(selectedValueText==value.parentRegion){

                        $('#userLocation2').append('<option value="'+value.childRegion+'">'+value.childRegion+'</option>');
                    }
                });
            }else if(selectedType=='event'){//캘린더의 일정을 클릭했을 때
                $('#userLocation').empty();
                $('#userLocation2').empty();
                $('#userLocation').append('<option value="'+parentValue+'" selected>'+parentValue+'</option>');
                $('#userLocation2').append('<option value="'+childValue+'" selected>'+childValue+'</option>');
            }
        });
    }
</script>

</script> -->

    <script type="text/javascript" th:src="@{/js/menuactive.js}"></script>

</body>
</html>