<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div class="main" th:fragment="sidebar">
    <div>
      <img id="logo" th:src="@{/img/logomain.png}" width="150px;">
    </div>
      <div id="profile">
        <div id="profileImg">
          <img src="../../static/img/mypage/diary/april.png" th:src="@{${member.userPhoto}}" width="100px">
        </div>
        <h1 class="id"><span class="id" th:text="${member?.userId}">jojo39</span>님</h1>
      </div>
      <div id="nav">
        <nav>
          <ul>
            <li class="active"><a th:href="@{/}"><div class="menuIcon"><img th:src="@{/img/sidebar/menu/home.png}" width="90%"><div class="menuIconHover"><img th:src="@{/img/sidebar/menu/home_active.png}" width="90%"></div></div></a></li>
            <li><a th:href="@{/schedule}"><div class="menuIcon"><img th:src="@{/img/sidebar/menu/schedule.png}" width="90%"><div class="menuIconHover"><img th:src="@{/img/sidebar/menu/schedule_active.png}" width="90%"></div></div></a></li>
            <li><a th:href="@{/board/paging}"><div class="menuIcon"><img th:src="@{/img/sidebar/menu/infoboard.png}" width="90%"><div class="menuIconHover"><img th:src="@{/img/sidebar/menu/infoboard_active.png}" width="90%"></div></div></a></li>
            <li id="mypage">
              <a th:href="@{/mypage}">
                <div class="menuIcon"><img th:src="@{/img/sidebar/menu/mypage.png}" width="90%"><div class="menuIconHover"><img th:src="@{/img/sidebar/menu/mypage_active.png}" width="90%"></div></div>
              </a>
              <ul class="subtab">
                <li class="active"><div class="gt"> > </div><div class="submenu"><a th:href="@{/mypage/update-infomation-checkpw}">정보수정</a></div></li>
                <li><div class="gt"> > </div><div class="submenu"><a th:href="@{/mypage/mycloset}">내 옷장</a></div></li>
                <li><div class="gt"> > </div><div class="submenu"><a th:href="@{/mypage/diary}">코디일기</a></div></li>
                <li><div class="gt"> > </div><div class="submenu"><a th:href="@{/mypage/favorite}">즐겨찾기 게시글</a></div></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div id="logout">
        <a th:href="@{/logout}" >
          <div class="menuIcon"><img th:src="@{/img/sidebar/menu/logout.png}" width="90%"><div class="menuIconHover"><img th:src="@{/img/sidebar/menu/logout_active.png}" width="90%"></div></div>
        </a>
      </div>
    </div>
</body>
</html>