<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>정보게시판</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/infoboard.css" th:href="@{/css/infoboard.css}">

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
    </div>
</div>
<div class="maincontent">
    <div class="introduce">
        <div id="topT">지역별 정보</div>
        <div>글 상세 보기</div>
    </div>
    <div id="boardetailmain">
        <div id="boarddetailbtn">
            <!--            todo(dayi) : 즐겨찾기 추가 버튼 동작하도록 수정 필요-->
            <!--            <button type="submit" id="addfavorite" th:onclick="addfavorite">즐겨찾기 추가</button>-->
            <input type="submit" id="addfavorite" name="boardetailmain" value="즐겨찾기 추가" th:onclick="addfavorite()">

            <button th:onclick="|location.href='@{/board/paging/region(parentRegion=${board.parentRegion},childRegion=${board.childRegion},page=${page})}'|">
                목록
            </button>
            <!--            todo(dayi) : 수정할 때 첨부 파일이 날아가는 부분 수정필요-->
            <button th:if="${#strings.equals(member.userId, board.userId)}"
                    th:onclick="|location.href='@{/board/update/{id}(id=${board?.id})}'|">수정
            </button>
            <!--            <button th:onclick="updateReq()">수정</button>-->
            <button th:if="${#strings.equals(member.userId, board.userId)}"
                    th:onclick="|location.href='@{/board/delete/{id}(id=${board?.id})}'|">삭제
            </button>

        </div>
        <table class="boarddetail">
            <tr>
                <th>글번호</th>
                <td th:text="${board?.id}">2</td>
                <th>유형</th>
                <td th:text="${board?.postType}">질문해요</td>
                <th>조회수</th>
                <td th:text="${board?.hits}"></td>
                <th>작성자</th>
                <td th:text="${board?.userId}"></td>
                <th>작성일</th>
                <td th:text="${board?.postdateTime}"></td>
            </tr>
            <tr>
                <th colspan="2">제목</th>
                <td colspan="8" th:text="${board?.title}"></td>
            </tr>
            <tr id="boardcontent">
                <td colspan="10" th:text="${board?.contents}">안녕하세요, 질문합니다.</td>
            </tr>
            <tr th:if="${board?.fileAttached == 1}">
                <th>image</th>
                <td colspan="9"><img th:src="@{|/img/FileAttached/${board.storedFileName}|}" width="500px" alt=""></td>
            </tr>
            <input type="hidden" id="parentRegion" name="parentRegion" th:value="${board?.parentRegion}">
            <input type="hidden" id="childRegion" name="childRegion" th:value="${board?.childRegion}">
            <!--        <input type="hidden" id="region" name="region" th:value="@{region}(region = ${board?.parentRegion} + ${board?.childRegion})">-->
            <!--        <input type="hidden" id="region" name="region" th:value="${board?.parentRegion} + ${board?.childRegion}">-->
            <input type="hidden" id="postdate" name="postdate" th:value="${board?.postdateTime}">
            <input type="hidden" id="userId" name="userId" th:value="${member?.userId}">
        </table>


    </div>
    <!-- 댓글 작성 부분 -->
    <div id="comment-write">
        <input type="hidden" id="writer" th:value="${member?.userId}">
        <!--        <input type="text" id="writer" th:value="${member?.userId}">-->
        <input type="text" id="commentContents" placeholder="내용">
        <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>
    </div>

    <!-- 댓글 출력 부분 -->
    <div id="comment-list">
        <table>
            <tr>
                <th>댓글번호</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
            </tr>
            <tr th:each="comment: ${commentList}">
                <!--                댓글 -->
                <td th:text="${comment?.id}"></td>
                <!--                <td th:text="${member?.userId}"></td>-->
                <td th:value="${comment?.userId}"></td>
                <td th:text="${comment?.commentContents}"></td>
                <td th:text="${comment?.commentPostdate}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script>
    const updateReq = () => {
        const id = [[${board.id}]];
        location.href = "/board/update/" + id;
    }

</script>
<!--todo : 즐겨찾기 DB저장 목록에 지역을 추가해야함. 안그러면 작성글에서 지역이 지워짐.-->
<script th:inline="javascript">

const commentWrite = () => {
<!--const writer = document.getElementById("userId").value;-->
const writer = document.getElementById("writer").value;
const contents = document.getElementById("commentContents").value;
const id = [[${board.id}]];

console.log("작성자: ", writer);
console.log("내용: ", contents);
console.log("번호: ", id);

<!--comment 저장하는 부분 아마도? CommentService.save??-->
$.ajax({
// 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
type: "post",
url: "/comment/save",
data: {
<!--"변수명" : 위의 const -->
"userId": writer,
"commentContents": contents,
"boardId": id
},
success: function (res) {
console.log("요청성공", res);
<!--화면 출력부분-->
let output = "<table>";
    output += "<tr><th>댓글번호</th>";
        output += "<th>작성자</th>";
        output += "<th>내용</th>";
        output += "<th>작성시간</th></tr>";
    for (let i in res) {
    output += "<tr>";
        output += "<td>" + res[i].id + "</td>";
        output += "<td>" + res[i].userId + "</td>";
        output += "<td>" + res[i].commentContents + "</td>";
        output += "<td>" + res[i].commentPostdate + "</td>";
        output += "</tr>";
    }
    output += "</table>";
document.getElementById('comment-list').innerHTML = output;
<!--위의 const 와 같은 형식인듯-->
<!--document.getElementById('userId').value = '';-->
document.getElementById('writer').value = '';
document.getElementById('commentContents').value = '';
},
error: function (err) {
console.log("요청실패", err);
}
});
}


</script>


<!--	const region = [[${board.parentRegion}+${board.childRegion}]];-->
<!--  const postType = [[${board.postType}]];-->
<!--//요청방식: post, 요청주소: /mypage/favorite, 요청데이터: 글번호, 작성자, 유형, 제목, 내용, 지역, 조회수, 로그인ID-->
<!--// "변수명" : 위 const 명,-->
<!--			"parentRegion" : parentRegion,-->
<!--			"childRegion" : childRegion,-->

<script th:inline="javascript">
const addfavorite = () => {

  const boardId = [[${board.id}]];
<!--  const writer = [[${board.userId}]];-->
<!--  const postType = [[${board.postType}]];-->
<!--  const title = [[${board.title}]];-->
<!--  const contents = [[${board.contents}]];-->
<!--  const region = [[${board.parentRegion}+${board.childRegion}]];-->
<!--  const parentRegion = [[${board.parentRegion}]];-->
<!--  const childRegion = [[${board.childRegion}]];-->
<!--  const region = ' '.concat([[${board.parentRegion}]], [[${board.childRegion}]]);-->

<!--  const postdate = [[${board.postdateTime}]];-->
  const memberId = [[${member.userId}]];


  $.ajax({
     type: "post",
<!--     dataType: "text"-->
     url: "/board/addfavorite",
     data: {
        'id' : boardId,
<!--        'userId' : writer,-->
<!--        'postType' : postType,-->
<!--        'title' : title,-->
<!--        'contents' : contents,-->
<!--        'parentRegion' : parentRegion,-->
<!--        'childRegion' : childRegion.-->
<!--        'region' : region,-->
        'member.userId' : memberId
     },
     success: function (res) {
     console.log("요청성공", res);
     }
  });
}


</script>

</html>
