<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>정보게시판</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/infoboard.css" th:href="@{/css/infoboard.css}">

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
    </div>
</div>
<div class="maincontent">
    <div class="introduce">
        <div id="topT">지역별 정보</div>
        <div>글 상세 보기</div>
    </div>
    <div id="boardetailmain">
        <div id="boarddetailbtn">
<!--            todo(dayi) : 즐겨찾기 추가 버튼 동작하도록 수정 필요-->
            <button id="addfavorite" th:onclick="">즐겨찾기 추가</button>
            <button th:onclick="|location.href='@{/board/paging}'|">목록</button>
<!--            todo(dayi) : 수정 버튼이 동작하지 않는다. 수정필요-->
            <button th:onclick="|location.href='@{/board/update/{id}(id=${board?.id})}'|">수정</button>
<!--            <button th:onclick="updateReq()">수정</button>-->
            <button th:onclick="|location.href='@{/board/delete/{id}(id=${board?.id})}'|">삭제</button>

        </div>
        <table class="boarddetail">
            <tr>
                <th>글번호</th>
                <td th:text="${board?.id}">2</td>
                <th>유형</th>
                <td th:text="${board?.postType}">질문해요</td>
                <th>조회수</th>
                <td th:text="${board?.hits}"></td>
                <th>작성자</th>
                <td th:text="${board?.userId}"></td>
                <th>작성일</th>
                <td th:text="${board?.postdateTime}"></td>
            </tr>
            <tr>
                <th colspan="2">제목</th>
                <td colspan="8" th:text="${board?.title}"></td>
            </tr>
            <tr id="boardcontent">
                <td colspan="10" th:text="${board?.contents}">안녕하세요, 질문합니다.</td>
            </tr>
            <tr th:if="${board?.fileAttached == 1}">
                <th>image</th>
                <td colspan="9"><img th:src="@{/img/FileAttached/{img}(img=${board.storedFileName})}" width="500px" alt=""></td>
            </tr>
        </table>
    </div>
    <!-- 댓글 작성 부분 -->
    <div id="comment-write">
        <input type="hidden" id="userId" th:value="${board?.userId}" >
        <input type="text" id="commentContents" placeholder="내용">
        <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>
    </div>

    <!-- 댓글 출력 부분 -->
    <div id="comment-list">
        <table>
            <tr>
                <th>댓글번호</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
            </tr>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment?.id}"></td>
                <td th:text="${board?.userId}"></td>
                <td th:text="${comment?.commentContents}"></td>
                <td th:text="${comment?.commentPostdate}"></td>
            </tr>
        </table>
    </div>
</div>
</body>

<script>
    const updateReq = () => {
        const id = [[${board.id}]];
        location.href = "/board/update/" + id;
    }

</script>

</html>

<!--
<script th:inline="javascript">

const commentWrite = () => {
const writer = document.getElementById("commentWriter").value;
const contents = document.getElementById("commentContents").value;
console.log("작성자: ", writer);
console.log("내용: ", contents);
const id = [[${board.id}]];
$.ajax({
// 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
type: "post",
url: "/comment/save",
data: {
"commentWriter": writer,
"commentContents": contents,
"boardId": id
},
success: function (res) {
console.log("요청성공", res);
let output = "<table>";
    output += "<tr><th>댓글번호</th>";
        output += "<th>작성자</th>";
        output += "<th>내용</th>";
        output += "<th>작성시간</th></tr>";
    for (let i in res) {
    output += "<tr>";
        output += "<td>" + res[i].id + "</td>";
        output += "<td>" + res[i].commentWriter + "</td>";
        output += "<td>" + res[i].commentContents + "</td>";
        output += "<td>" + res[i].commentPostdate + "</td>";
        output += "</tr>";
    }
    output += "</table>";
document.getElementById('comment-list').innerHTML = output;
document.getElementById('commentWriter').value = '';
document.getElementById('commentContents').value = '';
},
error: function (err) {
console.log("요청실패", err);
}
});

}-->
