<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>정보게시판</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/infoboard.css" th:href="@{/css/infoboard.css}">

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
    </div>
</div>
<div class="maincontent">
    <div class="introduce">
        <div id="topT">지역별 정보</div>
        <div>글 상세 보기</div>
    </div>
    <div id="boardetailmain">
        <table class="boarddetail">
            <tr>
                <th>유형</th>
                <td th:text="${board?.postType}">질문해요</td>
                <th>작성자</th>
                <td th:text="${board?.userId}"></td>
            </tr>
            <tr>
                <th colspan="2">제목</th>
                <td colspan="8" th:text="${board?.title}"></td>
            </tr>
            <tr id="boardcontent">
                <td colspan="10" th:text="${board?.contents}">안녕하세요, 질문합니다.</td>
            </tr>
            <tr th:if="${board.fileAttached == 1}">
                <th>image</th>
                <td colspan="9"><img th:src="@{|/img/FileAttached/${board.storedFileName}|}" width="500px" alt=""></td>
            </tr>
        </table>
        <div id="boarddetailbtn">
            <button th:onclick="|location.href='@{/board/paging}'|">목록</button>
        </div>

    </div>

</div>
</body>

</html>
