<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>수정</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/infoboard.css" th:href="@{/css/infoboard.css}">
</head>
<body>
<div>
    <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
    </div>
</div>
<div class="maincontent">
    <div class="introduce">
        <div id="topT">지역별 정보</div>
        <div>수 정</div>
    </div>
    <div id="form">
        <form th:action="|@{/board/update/}|" method="post" enctype="multipart/form-data" name="updateForm">
            <div class="formlist">
                <div class="input">
                    <select id="type" name="postType">
                        <option>질문해요💛</option>
                        <option>추천해요💜</option>
                    </select>
                </div>
            </div>
            <div class="formlist">
                <div class="input">
                    <input type="text" id="boardTitle" name="title" th:value="${board?.title}">
                    <input type="hidden" id="id" name="id" th:value="${board?.id}">
                    <input type="hidden" id="userId" name="userId" th:value="${board?.userId}">
                    <input type="hidden" id="storedFileName" name="storedFileName" th:value="${board?.storedFileName}">
                    <input type="hidden" id="parentRegion" name="parentRegion" th:value="${board?.parentRegion}">
                    <input type="hidden" id="childRegion" name="childRegion" th:value="${board?.childRegion}">
                </div>
            </div>

            <div class="formlist">
                <p>
                    <textarea id="boardContents" name="contents" rows="25" th:text="${board?.contents}"></textarea>
                </p>
            </div>
            <div>
                <input type="file" name="boardFile" multiple="multiple">
            </div>
            <div class="button" id="update">
                <input type="submit" name="update" value="수정">
                <button type="button" th:onclick="|location.href='@{/board/paging/region(parentRegion=${board.parentRegion},childRegion=${board.childRegion},page=${page})}'|">목록보기</button>
            </div>
        </form>
    </div>
</div>
<!-- 사이드바html에 페이지별 버튼 활성화 추가하고 싶었는데 타임리프 fragment는 메인화면으로 js를 못 가져와서 모든 페이지 하단에 추가함 -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/menuactive.js}"></script>
</body>
</html>