@charset "utf-8"
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* -------------LAYOUT------------ */
body{
    max-width:670px;
    width:100%;
    margin:auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
}

.container{
    width:100%;
    padding:0 25px;
    box-sizing:border-box;
}

.mainT{
    font-size: 40px;
    font-weight: 300;
    line-height: 150px;
    test-align:center;
}

