@import url('common.css');
@import url('sidebar.css');

body{
    background-color:white;
    color:#2D3037;
}

.leftBar{
    width:15%;
    height:100%;
    padding-top:70px;
    position:fixed; /* 메인컨텐츠에 내용이 많아져도 leftbar는 고정 */
    text-align:center;
    background-color:#494F5B;
}

.maincontent{ /* 모든 페이지 최대한 통일하기 */
    max-width:1100px;
    height:100%;
    font-size: 18px;
    margin-left:20%
}

.introduce{ /* 모든페이지 메인 제목 */
    float:left;
    padding-top: 40px;
    padding-left:20px;
    padding-bottom:5px;
    line-height: 55px;
    font-size: 30px; /* h1*/
    width:80%;
}

.introduce #subT{ /* 제목설명 h2 */
    font-size: 20px;
    line-height: 30px;
}

.mainLayout{
    float:left;
    width: 500px;
    border-radius: 15px;
    background-color: #EBEBEB;
    margin-left : 10px;
    margin-right: 40px;
    margin-top : 20px;
}

.mainLayout h1{ /* 각 박스의 제목 */
    font-size:20px;
    margin:25px;
}

#temperature{
    margin:20px 20px;
    width:90%;
    border-radius:15px;
    background-color:white;
}

#temperature div{
    display:inline-block;
    margin-top:30px;
    margin-left:20px;
    margin-bottom:30px;
    vertical-align:middle;
}

.temperatureInfo p{
    text-align:center;
    margin:10px 30px 10px 30px;
}

#temLocation{
    font-size:15px;
}

#temNumber{
    font-size:120px;
}

#temMaxMin{
    font-size:15px;
}

#temperatureTable{
    margin:20px 20px;
    background-color:white;
    border-radius:15px;
    width:90%;
}

.mainLayout div table th{
    padding:10px;
    font-size:15px;
}

.mainLayout div table td{
    padding:10px;
    width:15%; /*값 조정 필요*/
    text-align:center;
    font-size:15px;
    color:#2D3037;
}

#cody{
    width:45%;
}

.codyBox{
    background-color:white;
    border-radius:15px;
    width:90%;
    margin-left:25px;
    margin-top:10px;
    margin-bottom:10px;
}

.codyBox div{
    display:inline-block;
    vertical-align:middle;
}

.codyImg{
    padding:10px;
}

.codyName{
    width:280px;
}

#schedule{
    width: 45%;
}

#schedule div{
    display:inline-block;
}

.scheduleBox{
    border-radius:15px;
    width:90%;
    border-radius:15px;
    margin-left:25px;
    margin-top:10px;
    margin-bottom:10px;
}

#scheduleFirst{
    background-color: #58C5C5;
}

#scheduleSecond{
    background-color: #E4978E;
}

.scheduleContents{
    background-color:white;
    width:95%;
    border-radius:15px;
}

.scheduleContents div div{
    display:inline-block;
    vertical-align:middle;
    margin:10px 0px 5px 20px;
}

.scheduleContext{
    width:200px;
    font-size:15px;
}





