@import url('common.css');
@import url('sidebar.css');


#top{
    display:flex;
}

#weatherWidget{
    margin:3rem 6rem 2rem 1rem;
    width:20%;
    border-radius:15px;
    border:1px solid rgba(255, 152, 56,0.5);
    display:grid;
    height:100%
}
.widgetElementContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 1rem;

}

.widgetElementContainer:nth-child(1){
    margin-left:0.5rem;
}
.widgetElementContainer:nth-child(2){
    margin-right:1rem;
    display:flex;
    flex-direction:column;
}

.widgetElementContainer:nth-child(3):last-child{
    grid-column:span 2;
}

#currentSky{
    width:5rem;
}

#currentLocation1{
    font-size:0.8rem;
    text-align:center;
}
#currentLocation2{
    font-size:0.8rem;
    text-align:center;
    line-height:1.2rem;
}

#currentTemp{
    font-weight:bold;
    color:#FF9838;
    grid-row:span2;
    font-size:3rem;
}

.widgetElement span{
    font-size:0.7rem;
    vertical-align:top;
}

#option{
    margin: 0 5rem 0 0rem;
    display:flex;
    justify-content:space-between;
}

#optionselect{
    margin-left:1rem;
    margin-right:17rem;
}

#option div{
    display:inline-block;
}

select{
    width:7rem;
    height:1.9rem;
}

#selectBox{

}

#board{
    width:90%;
    margin-left:15px;
    margin-top: 0px;
}

table{
    horizontal-align:middle;
    width:100%;
    font-size:15px;
}

th, td{
    text-align:center;
    vertical-align:middle;
    width:50px;
    height:45px;
    border-bottom:0.3px solid #2D3037;
}

th{
    background-color:#A3ABBB;
}

.boardTitle{
    width:200px;
}

#boardTitle{
    text-align:left;
}

#paging{
    margin-top:20px;
    text-align:center;
}

#paging a{
    font-size:14px;
    margin:10px;
    cursor:pointer;

}
#writeboard{
    text-align:right;
    margin-top:15px;
}

/* write.html */


#form{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    border-radius:15px;
    background-color:#EBEBEB;
    width:90%;
}

#form form{
    padding:15px;
}

.formlist{
    margin:10px;
}

#boardTitle{
    width:100%;
    height:40px;
    margin-top:10px;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:0.5px;
    border-color:#AAAAAA;
    border-radius:5px;
}

#boardContents{
    width:100%;
    height:70%;
    margin-top:20px;
    border-color:#AAAAAA;
    border-width:0.5px;
    border-radius:5px;
}

.button{
    text-align:center;
}

input[type="submit"], button{
    width:80px;
    height:30px;
    font-size:13px;
    border-radius:5px;
    margin-right:10px;
    margin-bottom:20px;
    background-color:#494F5B;
    color:white;
    cursor:pointer;
    border:none;
    /* 버튼 스타일 나중에 수정하기*/
}

a{
    cursor:pointer;
}

/*  */

.boardetail{
    width:90%;
    border-top:0.3px solid #2D3037;
    border-right:0.3px solid #2D3037;
    border-left:0.3px solid #2D3037;
    border-bottom:0.3px solid #2D3037;

}

.boarddetail tr td{
    width:10%;
    border-right:0.3px solid #2D3037;
}

.boarddetail tr th{
    background-color:white;
    border-right:0.3px solid #2D3037;

}

.boarddetail #boardcontent{
    height:500px;
    text-align:left;
}

.boarddetail #boardcontent td{
    text-align:left;
    vertical-align:top;
    padding:20px;
}

#addfavorite{
    width:100px;
    margin-right:600px;
}

#boarddetailmain, #comment-write{
    margin-top:20px;
    margin-left:20px;
}

#comment-write input{
    height:30px;
}

#commentContents{
    width:68%;
}

#comment-list{
    width:90%;
    margin-bottom:40px;
}

#comment-list th{
    background-color:white;

}