@import url('common.css');
@import url('sidebar.css');


#top{
    display:flex;
}

#temperature{
    margin:70px 100px 30px 20px;
    width:20%;
    border-radius:15px;
    border:1px solid black;
}

#temperature div{
    display:inline-block;
    vertical-align:middle;
}

.temperatureInfo p{
    text-align:left;
    margin:10px;
}

#temLocation{
    font-size:15px;
}

#temNumber{
    font-size:20px;
}

#temMaxMin{
    font-size:15px;
}

#optionselect{
    margin-left:20px;
    margin-right:280px;
}

#option div{
    display:inline-block;
}

select{
    width:120px;
    height:30px;
}

#searchbox{
    width:230px;
    height:25px;
}

#board{
    width:90%;
    margin-left:15px;
    margin-top: 0px;
}

table{
    horizontal-align:middle;
    width:100%;
    font-size:15px;
}

th, td{
    text-align:center;
    vertical-align:middle;
    width:50px;
    height:45px;
    border-bottom:0.3px solid #2D3037;
}

th{
    background-color:#A3ABBB;
}

.boardtitle{
    width:200px;
}

#boardtitle{
    text-align:left;
}

#paging{
    margin-top:20px;
    text-align:center;
}

#paging a{
    font-size:14px;
    margin:10px;
    cursor:pointer;

}
#writeboard{
    text-align:right;
    margin-top:15px;
}

/* write.html */


#form{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    border-radius:15px;
    background-color:#EBEBEB;
    width:90%;
}

#form form{
    padding:15px;
}

.formlist{
    margin:10px;
}

#boardTitle{
    width:100%;
    height:40px;
    margin-top:10px;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:0.5px;
    border-color:#AAAAAA;
    border-radius:5px;
}

#boardContents{
    width:100%;
    height:70%;
    margin-top:20px;
    border-color:#AAAAAA;
    border-width:0.5px;
    border-radius:5px;
}

.button{
    text-align:center;
}

input[type="submit"], button{
    width:80px;
    height:30px;
    font-size:13px;
    border-radius:5px;
    margin-right:10px;
    margin-bottom:20px;
    background-color:#494F5B;
    color:white;
    cursor:pointer;
    border:none;
    /* 버튼 스타일 나중에 수정하기*/
}

a{
    cursor:pointer;
}

/*  */

.boarddetail{
    width:90%;
    border-top:0.3px solid #2D3037;
    border-right:0.3px solid #2D3037;
    border-left:0.3px solid #2D3037;
    border-bottom:0.3px solid #2D3037;

}

.boarddetail tr td{
    width:10%;
    border-right:0.3px solid #2D3037;
}

.boarddetail tr th{
    background-color:white;
    border-right:0.3px solid #2D3037;

}

.boarddetail #boardcontent{
    height:500px;
    text-align:left;
}

.boarddetail #boardcontent td{
    text-align:left;
    vertical-align:top;
    padding:20px;
}

#addfavorite{
    width:100px;
    margin-right:600px;
}

#boarddetailmain, #comment-write{
    margin-top:20px;
    margin-left:20px;
}

#comment-write input{
    height:30px;
}

#commentContents{
    width:68%;
}

#comment-list{
    width:90%;
    margin-bottom:40px;
}

#comment-list th{
    background-color:white;

}