@import url('common.css');
@import url('sidebar.css');

#mypagebtn{
    text-align:center;
    margin-top:150px;
}

button{
    margin-bottom:30px;
    width:250px;
    height:70px;
    border:none;
    border-radius:25px;
    font-size:20px;
    background-color:#FF9838;
    color:white;
    cursor:pointer;
}

#form{
    margin-top:50px;
    margin-left:300px;
}

.changeForm div{
    display:inline-block;
}

.label{
    margin-top:30px;
    width:150px;
    text-align:left;
}

input{
    width:200px;
    height:25px;
}

#changeBtn{
    margin-left:80px;
    margin-top:50px;
}

select{
    width:100px;
    height:25px;
}

#changeBtn button{
    width:80px;
    height:35px;
    font-size:15px;
    border-radius:5px;
    margin-right:10px;
}

.changeForm p{
    margin-left:160px;
    margin-top:10px;
}

.field-error {
    border-color: #dc3545;
    color: #dc3545;
    font-size:13px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

<!--  display: none;-->
  background-color: rgba(0, 0, 0, 0.4);
}


.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 300px;
  height: 200px;

  padding: 40px;

  text-align: center;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0px 10px 1000px rgba(34, 36, 38, 0.5);

  transform: translateX(-50%) translateY(-50%);
}

.modal_body button{
    margin-top:10px;
    width:90px;
    height:35px;
    font-size:15px;
    border-radius:10px;
    font-family:'IM_Hyemin-Bold';
}

.modal_body div{
    margin-top:50px;
}

#nowphoto p, #photo p{
    margin-left:10px;
    margin-top:30px;
    font-size:15px;
    font-family:'IM_Hyemin-Regular';

}

#updatephoto div{
    display:block;
}

#updatephotoWrap div{
    display:inline-block;
    vertical-align:top;
    margin-right: 30px;
}

#updateinfolistbtn{
    text-align:center;
    margin-top:150px;
}

#updateinfolistbtn button{
    font-family:'IM_Hyemin-Bold';
}


/* 즐겨찾기게시글 */

#mainLayout{
    margin-top:30px;
}

#option{
    margin-left:20px;
}

#option div{
    display:inline-block;
}

select{
    width:120px;
    height:30px;
}

#searchbox{
    width:280px;
    height:25px;
}

#board{
    width:90%;
    margin-left:15px;
}

table{
    horizontal-align:middle;
    width:100%;
    font-size:15px;
}

th, td{
    text-align:center;
    vertical-align:middle;
    width:50px;
    height:45px;
    border-bottom:0.3px solid #2D3037;
}

th{
    background-color:#EEEEEE;
}

.boardtitle{
    width:200px;
}

#boardtitle{
    text-align:left;
}

#paging{
    margin-top:20px;
    text-align:center;
}

#paging a{
    font-size:14px;
    margin:10px;
}



a{
    cursor:pointer;
}

.favBtn{
    width:80px;
    height:30px;
    font-size:15px;
    border-radius:5px;
    margin-bottom:10px;
}



/* mycloset */

.tab{
    margin-left:-25px;
    margin-top:30px;
    text-align:center;
}

.tab ul li{
    float:left;
    position:relative;
    width:140px;
    font-size:20px;
}

.tab a{ /* 기본 의류 분류 탭 */
    color:#7B818D;
}

.tab ul li ul{ /* 서브 의류 분류 안보이게 */
    display:none;
    position:absolute;
    width:130px;
}

.tab li:hover a{ /* 기본 의류 분류가 hover되었을때 색깔 */
    color:#2D3037;
}

.tab li:hover ul li a{ /* 기본 의류 분류가 hover되었을때 서브 의류 분류 색깔 */
    color:#7B818D;
    font-size:15px;
}

.tab li:hover ul{ /* 기본 의류 분류가 hover되었을때 서브 의류 분류 보임 효과 */
    display:block;
}

.tab ul li ul li:hover a{ /* 서브 의류 분류가 hover되었을때 색깔 */
    color:#2D3037;
}

.tabcont{
	display: none;
	position:absolute;
	margin-top: -40px;
	margin-left: 20px;
	background-color:#F6F6F6;
	border-radius:5px;
	width:920px;
	padding:20px;
}

.tabcont.on {
	display: block;
}

.clothimg{
    display:table;
    width:200px;
    height:200px;
    text-align:center;
    background-color:white;
    border-bottom:1px solid #BFBFBF;
}

.clothimgdiv{
    display:table-cell;
    vertical-align:middle;
}

.clothimg img{
    max-width:140px;
    max-height:280px;
}

.clothcontent{
    background-color:white;
    margin-left:10px;
    width:190px;
}

.clothcontent .content{
    display:inline-block;
    vertical-align:middle;
    padding:15px;
}

.content img{
    margin-left:35px;
}

.clothbuy{
    font-size:10px;
}

.clothname{
    font-size:15px;
    margin-top:5px;
}

.cloth{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    border:1px solid #BFBFBF;
}

#addcloth{
    width:90px;
    height:35px;
    font-size:15px;
    border-radius:15px;
    margin-left:880px;
    display:absolute;
    margin-top:-10px;
    margin-bottom:50px;
}

/* addcloth */

.formWrap{
    margin-left:20px;
    margin-top:40px;
    /* border:1px solid #BCC7DD; */
    /*border-style:solid;
    border-width:1px 0px 0px 0px;
    border-color:#2D3037;
    padding-top:30px;*/
    width:45%;
    color:#2D3037;
    font-weight:700;
}

.formList{
    margin-bottom:25px;
}

.formList div{
    margin-top:15px;
}

.formList input{
    width:300px;
    height:30px;
}

#cKind1, #cKind2, #cKind3{
    width:100px;
    height:35px;
}

#cColor{
    width:100px;
}

#file{
    margin-top:15px;
}

.addClothBtn, #detailClothBtn button, #delete{
    width:90px;
    height:35px;
    font-size:15px;
    border:none;
    border-radius:10px;
    display:absolute;
    margin-bottom:50px;
    margin-top:50px;
    margin-right:10px;
    background-color:#FF9838;
    color:white;
    cursor:pointer;
}

#addClothBtn{
    margin-left:20px;
}

/* cloth */

#detailCloth{
    margin-top:50px;
}

#detailClothImg{
    float:left;
    display:table;
    width:300px;
    height:300px;
    margin-right:100px;
    margin-bottom:100px;
    margin-top:50px;
    border:0.5px solid #5F6879;
    border-radius:5px;
}

#detailClothImg img{
    max-width:300px;
}

#detailClothImg div{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

#detailCloth{
    margin-left:20px;
    font-weight:700;
}

#detailClothText{
    margin-left:20px;
}

#detailClothText input{
    width:60px;
    height:30px;
    border-width:0px 0px 0px 0px;
    border-color: #99A5BD;
    font-size:18px;
}

label{
    padding-left:10px;
    border:8px solid #FFBA7A;
    border-right-style:none;
    border-bottom-style:none;
    border-top-style:none;
}

#detailClothText #top, #detailClothText #bottom{
    width:35px;

}

#detailClothText #cKind2, #detailClothText #cKind3{
    border:none;
    width:45px;
}

.mt{
    color:#5F6879;
    font-size: 10px;
}

#addClothSuccess{
    margin-left:20px;
}

#detailClothBtn button{
    margin-top:30px;
}

/* adddiary */

#diarywrite, #diarycloset{
    float:left;
    border-radius: 10px;
    background-color: #F6F6F6;
    padding:15px;
    margin-top:30px;
    margin-left:20px;
}

#diarycloset{
    width:41%;
}

#diaryform, #closetcontent{
    background-color:white;
    padding:20px;
    border-radius:10px;
}

.star {
  position: relative;
  font-size: 32px;
  color: #ddd;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.star span {
  width: 0;
  position: absolute;
  left: 0;
  color: #FFDA68;
  overflow: hidden;
  pointer-events: none;
}

textarea{
    width:100%;
}

input[type="checkbox"] {
    margin:5px 10px;
    width:15px;
}

.cloth{
    background-color:white;
}

.dphotoex{
    font-size:15px;
}

.photoex{
    font-size:15px;
    margin:5px 10px;
}

#submitBtn{
    background-color:#FF9838;
    width:90px;
    height:35px;
    font-size:15px;
    color:white;
    border-radius:10px;
    border:none;
}

/* diary */

#adddiarybtn{
    width:90px;
    height:35px;
    font-size:15px;
    border-radius:15px;
    margin-bottom:10px;
}

#dlistwrap{
    margin-left:20px;
    border-radius:10px;
    background-color:#F6F6F6;
    width:73%;
	position:absolute; /* 현재 이 라인을 넣으면 안에 컨텐츠가 있는만큼 사이즈가능함 */
	padding-bottom:30px;
	display:table;
}

.diary{
    background-color:white;
    margin-left:20px;
    margin-top:30px;
    padding:10px;
    width:300px;
    border-radius:5px;
    float:left;
    display:table-cell;
}

.dlistcontents{
    padding:20px;
    font-size:13px;
    line-height:25px;
    border:0.5px solid #494F5B;
}

.dlistphoto{
    height:100%;
}

.dlistlist p{
    display:inline-block;
    background-color:#494F5B;
    color:white;
    padding:5px 5px;
    margin-bottom:5px;
    font-size:13px;
}

.dlistlist{
    margin-bottom:10px;
}

.dstar{
  font-size: 32px;
  color:#FFDA68;
  margin-top:10px;
  margin-bottom:15px;
}

#dcontent{
    font-size:14px;
}