@import url('common.css');
@charset "utf-8"


#profile{
    padding-top:200px;
    height:163px;
    text-align:center;
}

#profileImg{
    width:100px;
    border-radius: 70%;
    overflow: hidden;
    margin-left:55px;
}

#profileImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo, #profile .id{
    font-size:18px;
    color: #D7DEEB;
    padding-bottom:30px;
}

.id{
    padding-top:10px;
}

.main{
    height:665px;
}

#nav{
    padding-top:50px;
}

#nav li input{
    /* font-size:15px; */
    width:100%;
    height:70px;
    border:0px;
    background-color:white;
    cursor:pointer; /* 커서 올라가면 손가락모양 */
}

#logout{
    padding-top:190px;
}

#logout a{
    font-size:15px;
    color:#D0DBFF;
    text-decoration:underline;
    cursor:pointer; /* 커서 올라가면 손가락모양 */
}

#logout a:hover{
    color:#FFFFFF;
}

.menuIcon{
    position:relative;
}

.menuIconHover{
    position:absolute;
    left:0px;
    top:0px;
    display:none;
}

.menuIcon:hover .menuIconHover{
    display:block;
}

li.active .menuIconHover{
    display:block;
}
