@import url('common.css');

body{
    max-width:700px;
    width:100%;
    margin:auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}

.logoWrap{
    text-align:center;
    margin-top:80px;
    margin-bottom:30px;
    font-size:20px;
}

.formBox{
    margin-bottom:70px;
    border:solid 1px #e5e5e5;
}

.mainT{
    font-size: 30px;
    line-height: 30px;
    padding-top:40px;
    box-sizing:border-box;
    text-align:center;
}

.subT{
    font-size: 15px;
    color:#505050;
    text-align:center;
}

.loginInfoWrap, .memberInfoWrap, .policyWrap{
    width:90%;
    margin-left:10%;
    margin-top:5%;
}

h3{
    font-size:15px;
    font-weight:700;
}

.info div{
    display:inline-block;
}

.info{
    margin-bottom:15px;
}

.label{
    width:25%;
}

p{
    margin-left:26%;
    color:red;
    font-size:14px;
}

input{
     width:360px;
     height:40px;
     border-color:#8D8D8D;
     border-top-width:0px;
     border-right-width:0px;
     border-bottom-width:0.5px;
     border-left-width:0px;
}

select{
    width:157px;
    height:40px;
}

.btn{
    text-align:center;
    margin-top:50px;
    margin-bottom:70px;
}

input[type="submit"], input[type="button"], input[type="reset"]{
    width:100px;
    border:none;
    font-size:15px;
    margin-left:5px;
    margin-right:5px;
}

input[type="checkbox"]{
    width:18px;
    height:100%;
    margin-right:10px;
    vertical-align:middle;
}

.policyWrap{
    line-height:35px;
    margin-bottom:30px;
}

.checkBox div{
    display:inline-block;
}

.essential{
    color:#3090d6;
}

.choice{
    color:#999;
}

/* 회원가입완료 css */

#background{
    background-color:#494F5B;

}

#successbackground{
    margin-top:100px;
    padding-top:100%;
    width:400px;
    background-size:contain;
    background-repeat:no-repeat;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

#set{
    position:absolute;
    top:43%;
    left:50%; /* 왜인지 모르겠지만 div는 이걸 넣어야 가운데로 옴 */
    transform: translate( -50%, -50%);
}

#sucesstext{
    line-height:45px;
    font-size:20px;
    width:500px;
    margin-bottom:30px;
}

button{
    width:100px;
    height:40px;
    background-color:#2D3037;
    border:none;
    border-radius:5px;
    color:white;
    cursor:pointer;
}







