<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <!-- 네이버 로그인 소스   -->
<!--    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- 네이버 로그인 소스 끝   -->
    <link rel="stylesheet" type="text/css" href="../../static/css/default.css" th:href="@{/css/default.css}">

</head>
<body>
<div id="loginScreen">
    <section id="loginSidebar">
        <header><img id="logo" src="../../static/img/logo.png" th:src="@{/img/logo.png}" width="190px" /></header>
        <div id="loginText">오늘도 당신의 하루를<br>웨더웨어와 함께하세요.</div>
        <div id="loginImg"><img src="../../static/img/login/logodrawing.png" th:src="@{/img/login/logodrawing.png}" width="100%" /></div>
    </section>
    <section id="loginMain">
        <div id="login">로그인</div>
        <div id="formBox">
            <form th:action th:object="${loginForm}" method="POST">
            <p class="id">
                <input type="text" id="userId" th:field="*{loginId}" placeholder="아이디">
            </p>
            <p>
                <input type="password" id="userPw" th:field="*{loginPw}" placeholder="비밀번호">
            </p>
            <p id="loginError" class="field-error" th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                입력하신 아이디나 비밀번호를 확인해주세요.
            </p>
            <p class="saveId">
                <input type="checkbox" id="saveId" value="saveId">
                <label for="saveId">아이디 저장</label>
            </p>
            <div class="loginBtn">
                <input type="submit" id="loginBtn" value="로그인">
            </div>
            </form>
        </div>
        <!--<div id="hrLine">
            <div class="hrLine"><hr></div><div id="hrOr">  or  </div><div class="hrLine"><hr></div>
        </div>-->
        <!--<div id="otherLogin">
            <div id="naver_id_login"></div>
            <div>
                <a href="javascript:loginWithKakao();"><img src="../../static/img/login/kakao_login.png" th:src="@{/img/login/kakao_login.png}" alt="카카오계정 로그인" width="60px"/></a>

                <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
                <script>
                    window.Kakao.init('b2266f1c41b42e9866421244b4824275');
                    </script>

                    <script>
                      function loginWithKakao() {
                        Kakao.Auth.authorize({
                          redirectUri: 'http://localhost:8080/kakaologin.html',
                        });
                      }

                      // 아래는 데모를 위한 UI 코드입니다.
                      displayToken()
                      function displayToken() {
                        var token = getCookie('authorize-access-token');

                        if(token) {
                          Kakao.Auth.setAccessToken(token);
                          Kakao.Auth.getStatusInfo()
                            .then(function(res) {
                              if (res.status === 'connected') {
                                document.getElementById('token-result').innerText
                                  = 'login success, token: ' + Kakao.Auth.getAccessToken();
                              }
                            })
                            .catch(function(err) {
                              Kakao.Auth.setAccessToken(null);
                            });
                        }
                      }

                      function getCookie(name) {
                        var parts = document.cookie.split(name + '=');
                        if (parts.length === 2) { return parts[1].split(';')[0]; }
                      }
                    </script>
            </div>
        </div>-->
        <p class="signInLinks">
            <a th:href="@{/members/join}">회원가입</a> /
            <a th:href="@{/members/findId}">아이디 찾기</a> /
            <a th:href="@{/members/findPassword}">비밀번호 찾기</a>
        </p>
    </section>
</div>
    <!-- 네이버 로그인 소스   -->
    <!--<script type="text/javascript">
            var naver_id_login = new naver_id_login("8PN1YmdvvarAm2s1bSj2", "http://localhost:8080/callback.html");
            var state = naver_id_login.getUniqState();
            naver_id_login.setButton("green", 1, 60);
            naver_id_login.setDomain("http://localhost:8080");
            naver_id_login.setState(state);
            naver_id_login.setPopup();
            naver_id_login.init_naver_id_login();
        </script>-->
    <!-- 네이버 로그인 소스 끝   -->

</body>
</html>