<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <!-- 네이버 로그인 소스   -->
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- 네이버 로그인 소스 끝   -->
    <link rel="stylesheet" type="text/css" href="../../static/css/default.css" th:href="@{/css/default.css}">
</head>
<body id="login">
<h1 class="mainT">로그인</h1>
<form th:action th:object="${loginForm}" method="POST">
<div class="formBox">
        <p class="id">
            <input type="text" id="userId" th:field="*{loginId}" placeholder="아이디">
        </p>
        <p>
            <input type="password" id="userPw" th:field="*{loginPw}" placeholder="비밀번호">
        </p>
            <div class="loginBtn">
                <input type="submit" id="loginBtn" value="로그인">
            </div>






                    <div id="naver_id_login"></div>


    <!-- 네이버 로그인 소스   -->
    <script type="text/javascript">
            var naver_id_login = new naver_id_login("8PN1YmdvvarAm2s1bSj2", "http://localhost:8080/callback.html");
            var state = naver_id_login.getUniqState();
            naver_id_login.setButton("white", 1, 50);
            naver_id_login.setDomain("http://localhost:8080");
            naver_id_login.setState(state);
            naver_id_login.setPopup();
            naver_id_login.init_naver_id_login();
        </script>
    <!-- 네이버 로그인 소스 끝   -->

</div>
        <p class="saveId">
            <input type="checkbox" id="saveId" value="saveId">
            <label for="saveId">아이디 저장</label>
        </p>
    </form>

    <p class="signInLinks">
        <a th:href="@{/members/add}">회원가입</a> /
        <a th:href="@{/members/findId}">아이디 찾기</a> /
        <a th:href="@{/members/findPassword}">비밀번호 찾기</a>
    </p>
</body>
</html>