<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내옷 추가</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/mypage.css" th:href="@{/css/mypage.css}">
    <style>
     .field-error {
            border-color: #dc3545;
            color: #dc3545;
            font-size: 13px;
     }
    </style>
</head>
<body>
  <div>
    <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
    </div>
  </div>
  <div class="maincontent">
    <div class="introduce">
      <div id="subT">마이페이지 > 내 옷장</div>
      <div>옷 추가</div>
    </div>
    <di>
      <form action="cloth.html" th:action method="post" th:object="${cloth}" enctype="multipart/form-data">
        <div class="formWrap">
          <div>
            <input type="hidden" id="userId" name="userId" th:value="${member.userId}">
          </div>
          <div class="formList">
            <label for="cKind1">카테고리</label>
            <div>
              <select id="cKind1" name="cKind1" onchange="itemChange(this)" th:field="*{cKind1}">
                <option value="">상/하의 선택</option>
                <option value="top">상의</option>
                <option value="bottom">하의</option>
              </select>
            </div>
            <div>
              <select id="cKind2" name="cKind2" onchange="itemChange2(this)" th:field="*{cKind2}">
                <option value="">분류선택</option>
              </select>
              <select id="cKind3" name="cKind3" th:field="*{cKind3}">
                <option value="">-</option>
              </select>
            </div>
          </div>
          <div class="formList">
            <label for="cName">옷 이름</label>
            <div>
              <input type="text" id="cName" th:field="*{cName}" th:errorclass="field-error" class="form-control" placeholder="옷의 특징을 살린 이름으로 지으면 관리하기 좋아요">
            </div>
            <div class="field-error" th:errors="*{cName}">
              오류
            </div>
          </div>
          <div class="formList">
            <label for="cWhereToBuy">브랜드</label>
            <div>
              <input type="text" id="cWhereToBuy" th:field="*{cWhereToBuy}" class="form-control" th:errorclass="field-error" placeholder="구매한 곳을 작성해주세요">
            </div>
            <div class="field-error" th:errors="*{cWhereToBuy}">
              오류
            </div>
          </div>

          <div class="formList" id="colorbox">
            <label for="cColor">메인 컬러</label>
            <div>
              <datalist id="colorlist">
                <option value="#000000">black</option>
                <option value="#F1F1F1">white</option>
                <option value="#FF5A5A">red</option>
                <option value="#FF9551">orange</option>
                <option value="#FFDA68">yellow</option>
                <option value="#D7E9B9">green</option>
                <option value="#5685FF">blue</option>
                <option value="#AA77FF">purple</option>
                <option value="#F7C8E0">pink</option>
                <option value="#D9D9D9">gray</option>
              </datalist>
              <input id="cColor" name="cColor" type="color" list="colorlist" th:field="*{cColor}">
            </div>
          </div>
          <div>
            <label for="file">사진 선택</label>
            <div>
              <input type="file" name="file" id="file" accept="image/*">
            </div>
          </div>
        </div>
        <div id="addClothBtn">
          <input type="submit" class="addClothBtn" value="추가" >
          <button type="button" class="addClothBtn" th:onclick="|location.href='@{/mypage/mycloset}'|">취소</button>
        </div>
      </form>
    </di>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../../../static/js/selectbox.js" th:src="@{/js/selectbox.js}"></script>
  <script type="text/javascript" th:src="@{/js/menuactive.js}"></script>
</body>
</html>