<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>코디일기</title>
  <link rel="stylesheet" type="text/css" href="../../../static/css/mypage.css" th:href="@{/css/mypage.css}">
</head>
<body>
<div>
  <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
  </div>
</div>
<div class="maincontent">
  <div class="introduce">
    <div id="subT">마이페이지</div>
    <div>코디일기</div>
    <button id="adddiarybtn" th:onclick="|location.href='@{/mypage/diary/add}'|">일기추가</button>
  </div>
  <div id="dlistwrap">
    <div id="dlist">
      <div class="diary" th:each="diary : ${diaries}">
      <div class="dlistphoto"><img src="../../../static/img/mypage/diary/april.png" th:src="@{${diary.dPhotoPath}}" width="300px"></div>
      <div class="dlistcontents">
        <div class="dlistlist"><p th:text="${diary.dCodyName1}">베이지자켓</p> <p th:text="${diary.dCodyName2}">데이지티</p> <p th:text="${diary.dCodyName3}">데이지스커트</p></div>
        <div class="dlistlist">
          <label th:text="${diary.dDate}">2023-04-01</label>
        </div>
        <div class="dlistlist">
          <label th:text="${diary.dLocation1}">경기도</label>
          <span th:text="${diary.dLocation2}">용인시기흥구</span>
        </div>
        <div class="dlistlist">
          <label>코디점수</label>
          <th:block th:switch="${diary.dScore}">
            <div class="dstar" th:case="2">★</div>
            <div class="dstar" th:case="4">★★</div>
            <div class="dstar" th:case="6">★★★</div>
            <div class="dstar" th:case="8">★★★★</div>
            <div class="dstar" th:case="10">★★★★★</div>
          </th:block>
        </div>
        <div class="dlistlist">
          <div id="dcontent" th:text="${diary.dContent}">
            날씨도 기분도 완벽했던 날.<br>
            오늘보다 조금만 더 더우면 외투는 안입고다닐듯
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/menuactive.js}"></script>

</body>
</html>