<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 게시글</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/mypage.css" th:href="@{/css/mypage.css}">
</head>
<body>
<div>
  <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
  </div>
</div>
<div class="maincontent">
  <div class="introduce">
      <div id="topT">마이페이지</div>
      <div>즐겨찾기 게시글</div>
      <div id="subT">내가 다시 보고싶은 게시글들이 모여있어요👍 <br>
          즐겨찾기 목록에 추가하고 싶다면 지역별정보 게시판에서 마음에 드는 게시글에 즐겨찾기 등록 버튼을 클릭하세요!</div>
  </div>
    <div id="mainLayout">
<!--        <div id="option">-->
<!--            <div id="optionselect">-->
<!--                <select >-->
<!--                    <option value="">시/도 선택</option>-->
<!--                    <option>서울특별시</option>-->
<!--                </select>-->
<!--                <select id="userLocation2">-->
<!--                    <option value="">시/군/구 선택</option>-->
<!--                    <option>세종특별자치시</option>-->
<!--                </select>-->
<!--            </div>-->
            <div>
                <select id="searchoption">
                    <option value="">옵션선택</option>
                    <option>제목</option>
                    <option>작성자</option>
                </select>
            </div>
            <div>
                <input type="text" id="searchbox">
            </div>
            <div>
                <button class="favBtn">검색</button>
            </div>
        </div>
        <div id="board">
            <table>
                <tr>
                    <th>번호</th>
                    <th>유형</th>
<!--                    <th class="boardTitle">제목</th>-->
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>지역</th>
                </tr>
<!--                 마이페이지에서 연결되는 부분 표시-->
<!--                <button th:onclick="|location.href='@{/mypage/favorite}'|">👍 즐겨찾기 게시글</button>-->
                        <!--board -> bookmark-->

                <tr th:each="bookmark: ${boardList}">
                    <td th:text="${bookmark?.id}"></td>
                    <td th:text="${bookmark?.postType}"></td>
<!--                    <td class="boardTitle" id="boardTitle"><a th:href="@{|/mypage/favorite/${bookmark.id}|(page=${boardList.number + 1})}" th:text="${bookmark.boardTitle}"></a></td>-->
<!--                    <td><a th:href="@{|/mypage/favorite/${bookmark?.id}|(page=${boardList?.number + 1})}" th:text="${bookmark?.title}"></a></td>-->
                    <td><a th:href="@{|/board/${bookmark?.id}|(page=${boardList.number + 1})}" th:text="${bookmark?.title}"></a></td>
                    <td th:text="${bookmark?.userId}"></td>
                    <td th:text="*{#temporals.format(bookmark?.postdateTime, 'yy/MM/dd')}"></td>
                    <td th:text="${bookmark?.parentRegion} + ${bookmark?.childRegion}"></td>
                </tr>
            </table>
<!--            @{/board/paging~}에서 /board/를 /mypage/favorite/로-->
            <div id="paging">
                <!-- 첫번째 페이지로 이동 -->
                <!-- /board/paging?page=1 -->
<!--                <a th:href="@{/mypage/favorite/paging(page=1)}">&lt;&lt;</a>-->
                <a th:href="@{/mypage/favorite/(page=1)}">&lt;&lt;</a>
                <!-- 이전 링크 활성화 비활성화 -->
                <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
<!--                <a th:href="${boardList?.first} ? '#' : @{/mypage/favorite/paging(page=${boardList?.number})}">&lt;</a>-->
                <a th:href="${boardList?.first} ? '#' : @{/mypage/favorite/(page=${boardList?.number})}">&lt;</a>

                <!-- 페이지 번호 링크(현재 페이지는 숫자만)
                        for(int page=startPage; page<=endPage; page++)-->
                <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
            <!-- 현재페이지는 링크 없이 숫자만 -->
                      <span th:if="${page == boardList?.number + 1}" th:text="${page}"></span>
                    <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
                      <span th:unless="${page == boardList.number + 1}">
<!--                          <a th:href="@{/mypage/favorite/paging(page=${page})}" th:text="${page}"></a>-->
                          <a th:href="@{/mypage/favorite/(page=${page})}" th:text="${page}"></a>
                      </span>
                  </span>

                <!-- 다음 링크 활성화 비활성화
                    사용자: 2페이지, getNumber: 1, 3페이지-->
<!--                <a th:href="${boardList.last} ? '#' : @{/mypage/favorite/paging(page=${boardList.number + 2})}">&gt;</a>-->
                <a th:href="${boardList.last} ? '#' : @{/mypage/favorite/(page=${boardList.number + 2})}">&gt;</a>
                <!-- 마지막 페이지로 이동 -->
<!--                <a th:href="@{/mypage/favorite/paging(page=${boardList.totalPages})}">&gt;&gt;</a>-->
                <a th:href="@{/mypage/favorite/(page=${boardList.totalPages})}">&gt;&gt;</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/menuactive.js}"></script>

</body>
</html>