<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내 옷장</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/mypage.css" th:href="@{/css/mypage.css}">

    <style>
        .000000{
            background-color:#000000;
        }
        .F1F1F1{
            background-color:#F1F1F1;
        }
        .FF5A5A{
            background-color:#FF5A5A;
        }
        .FF9551{
            background-color:#FF9551;
        }
        .FFDA68{
            background-color:#FFDA68;
        }
        .D7E9B9{
            background-color:#D7E9B9;
        }
        .5685FF{
            background-color:#5685FF;
        }
        .414979{
            background-color:#414979;
        }
        .AA77FF{
            background-color:#AA77FF;
        }
        .F7C8E0{
            background-color:#F7C8E0;
        }
        .D9D9D9{
            background-color:#D9D9D9;
        }

    </style>
</head>
<body>
<div>
  <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
  </div>
</div>
<div class="maincontent">
  <div class="introduce">
    <div id="subT">마이페이지</div>
    <div>내 옷장</div>
  </div>
  <div class="mainLayout">
    <div class="tab">
        <ul>
            <li data-tab="menu1"><a href="#" class="on" >전체</a></li>
            <li data-tab="menu2"><a href="#">즐겨찾는옷</a></li>
            <li data-tab="menu3"><a href="#">상의</a>
                <ul class="subtab">
                    <li><a>민소매</a></li>
                    <li><a>반팔</a></li>
                    <li><a>긴팔</a></li>
                    <li><a>외투</a></li>
                </ul>
            </li>
            <li data-tab="menu4"><a href="#">하의</a>
                <ul class="subtab">
                    <li><a>반바지</a></li>
                    <li><a>면바지</a></li>
                    <li><a>청바지</a></li>
                    <li><a>치마</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="closetbox">
        <div id="button"><button id="addcloth" th:onclick="|location.href='@{/mypage/mycloset/addcloth}'|">내옷 추가</button></div>
        <div id="menu1" class="tabcont on">
            <div class="closetcontent">
                <div class="cloth" th:each="cloth : ${clothes}">
                    <a th:href="@{/mypage/mycloset/{cId}(cId=${cloth.cId})}">
                    <div class="clothimg"><div class="clothimgdiv"><img th:src="@{${cloth.cPhotoPath}}" alt="옷사진"></div></div>
                    <div name="cColor" id="cColor" th:style="|background-color:'${cloth.cColor}';|">
                        <div class="clothcontent">
                            <div class="content">
                                <div class="clothbuy"><span th:text="${cloth.cWhereToBuy}">자라</span> 구매</div>
                                <div class="clothname"><span th:text="${cloth.cName}">초록원피스</span></div>
                            </div>
                            <div class="content"><img src="../../../img/mypage/heart.png" th:src="@{/img/mypage/heart.png}"></div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="menu2" class="tabcont">
            <div class="closetcontent">
                <div class="cloth" th:each="favorite : ${favorites}">
                    <a th:href="@{/mypage/mycloset/{cId}(cId=${favorite.cId})}">
                        <div class="clothimg"><div class="clothimgdiv"><img th:src="@{${favorite.cPhotoPath}}" alt="옷사진"></div></div>
                        <div name="cColor" id="cfavColor" th:style="|background-color:'${favorite.cColor}';|">
                            <div class="clothcontent">
                                <div class="content">
                                    <div class="clothbuy"><span th:text="${favorite.cWhereToBuy}">자라</span> 구매</div>
                                    <div class="clothname"><span th:text="${favorite.cName}">초록원피스</span></div>
                                </div>
                                <div class="content"><img src="../../../img/mypage/heart.png" th:src="@{/img/mypage/heart.png}"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="menu3" class="tabcont">
            <div class="closetcontent">
                <div class="cloth" th:each="top : ${tops}">
                    <a th:href="@{/mypage/mycloset/{cId}(cId=${top.cId})}">
                        <div class="clothimg"><div class="clothimgdiv"><img th:src="@{${top.cPhotoPath}}" alt="옷사진"></div></div>
                        <div name="cColor" id="ctopColor" th:style="|background-color:'${top.cColor}';|">
                            <div class="clothcontent">
                                <div class="content">
                                    <div class="clothbuy"><span th:text="${top.cWhereToBuy}">자라</span> 구매</div>
                                    <div class="clothname"><span th:text="${top.cName}">초록원피스</span></div>
                                </div>
                                <div class="content"><img src="../../../img/mypage/heart.png" th:src="@{/img/mypage/heart.png}"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="menu4" class="tabcont">
            <div class="closetcontent">
                <div class="cloth" th:each="bottom : ${bottoms}">
                    <a th:href="@{/mypage/mycloset/{cId}(cId=${bottom.cId})}">
                        <div class="clothimg"><div class="clothimgdiv"><img th:src="@{${bottom.cPhotoPath}}" alt="옷사진"></div></div>
                        <div name="cColor" id="cbottomColor" th:style="|background-color:'${bottom.cColor}';|">
                            <div class="clothcontent">
                                <div class="content">
                                    <div class="clothbuy"><span th:text="${bottom.cWhereToBuy}">자라</span> 구매</div>
                                    <div class="clothname"><span th:text="${bottom.cName}">초록원피스</span></div>
                                </div>
                                <div class="content"><img src="../../../img/mypage/heart.png" th:src="@{/img/mypage/heart.png}"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/menuactive.js}"></script>
<script>
    //mycloset.html 에 옷분류 메뉴 js파일로 빼려고했는데 안먹혀서 차후 이동예정.
    $(function() {
    			$('.tab ul li').click(function() {
    				var activeTab = $(this).attr('data-tab');
    				$('.tab ul li').removeClass('on');
    				$('.tabcont').removeClass('on');
    				$(this).addClass('on');
    				$('#' + activeTab).addClass('on');
    			})
    		});
</script>
</body>
</html>