<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>정보수정</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/mypage.css" th:href="@{/css/mypage.css}">
</head>
<body>
<div>
    <div class="leftBar" th:insert="~{main/sidebar :: sidebar}">
    </div>
</div>
<div class="maincontent">
    <div class="introduce">
        <div id="topT">마이페이지</div>
        <div>정보수정</div>
        <div id="subT">나의 정보를 수정합니다.<br>
            개인정보 보호를 위해 비밀번호는 주기적으로 변경을 권장드려요!
        </div>
    </div>
    <div id="form">
        <form>
        <div class="changeForm">
            <div class="label"><label for="changePw">비밀번호</label></div>
            <div class="input"><input type="text" id="changePw" th:value="${member.userPw}"></div>
        </div>
        <div class="changeForm">
            <div class="label"><label for="changeMail">이메일</label></div>
            <div class="input"><input type="text" id="changeMail" th:value="${member.userMail}"></div>
        </div>
        <div class="changeForm">
            <div class="label"><label>설정지역</label></div>
            <select id="userLocation" th:field="${member.parentRegion}">
                <option value="" th:value="${member.parentRegion}">시/도 선택</option>
            </select>
            <select id="userLocation2" th:field="${member.childRegion}">
                <option value="" th:value="${member.childRegion}">시/군/구 선택</option>
            </select>
        </div>
        <div class="changeForm">
            <div class="label"><label for="changePhoto">프로필사진</label></div>
            <div class="input"><input type="file" id="changePhoto"></div>
        </div>
        <div class="changeForm">
            <div id="changeBtn">
                <button type="button" th:onclick="|location.href='@{/mypage}'|">취소</button>
                <button type="reset">다시작성</button>
                <button type="submit">수정</button>
            </div>
        </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/menuactive.js}"></script>
<script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
<!--    $("#userLocation2").chainedTo("#userLocation");-->
            $(document).ready(function(){
            loadArea('loadParent',$(this));
        });
        $('#userLocation').on("change",function(){
            loadArea('loadChild',$(this));
        });
        function loadArea(selectedType,selectedValue){
                $.ajax({
                    url: "/region/api",
                    dataType: "JSON",
                    method: "GET"
                }).done(function(res){
                   if(selectedType == 'loadParent'){
                        $.each(res, function (index,value){
                            var hasOption=$('#userLocation option[value="'+value.parentRegion+'"]').length;
                            if(hasOption==0){
                                $('#userLocation').append('<option value="'+value.parentRegion+'">'+value.parentRegion+'</option>');
                            }
                        });
                   }else if(selectedType == 'loadChild'){
                        var selectedValueText = $(selectedValue).find('option:selected').text();
                        $('#userLocation2').empty();
                        $.each(res, function (index,value){

                            if(selectedValueText==value.parentRegion){

                                $('#userLocation2').append('<option value="'+value.childRegion+'">'+value.childRegion+'</option>');
                            }
                        });
                   }
                });
        }
    </script>
</body>
</html>