<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="weatherwhere.team.repository.closet.ClothMapper">
    <insert id="save">
        <selectKey keyProperty="cId" order="BEFORE" resultType="long">
            select clothIdNum.nextval from dual
        </selectKey>
        insert into cloth_info (user_id, c_id, c_name, c_kind1, c_kind2, c_kind3, c_where_to_buy, c_color, c_photo, c_photo_path)
        values (#{userId}, #{cId}, #{cName}, #{cKind1}, #{cKind2}, #{cKind3}, #{cWhereToBuy}, #{cColor}, #{cPhoto}, #{cPhotoPath})
    </insert>

    <select id="findById" resultType="weatherwhere.team.domain.closet.Cloth">
        select *
        from cloth_info
        where c_id = #{cId} and user_id = #{userId}
    </select>

    <select id="findAll" resultType="weatherwhere.team.domain.closet.Cloth">
        select * from cloth_info where user_id = #{userId}
    </select>

    <select id="findFavorites" resultType="weatherwhere.team.domain.closet.Cloth">
        select * from cloth_info where user_id = #{userId} and c_count >= 2
    </select>

    <select id="findTops" resultType="weatherwhere.team.domain.closet.Cloth">
        select * from cloth_info where user_id = #{userId} and c_kind1 = 'top'
    </select>

    <select id="findBottoms" resultType="weatherwhere.team.domain.closet.Cloth">
        select * from cloth_info where user_id = #{userId} and c_kind1 = 'bottom'
    </select>

    <update id="update">
        update cloth_info
        set c_name=#{updateParam.cName},
        c_kind1=#{updateParam.cKind1},
        c_kind2=#{updateParam.cKind2},
        c_kind3=#{updateParam.cKind3},
        c_where_to_buy=#{updateParam.cWhereToBuy},
        c_color=#{updateParam.cColor},
        c_photo=#{updateParam.cPhoto},
        c_photo_path=#{updateParam.cPhotoPath}
        where c_id = #{cId} and user_id = #{updateParam.userId}
    </update>

    <delete id="delete">
        delete from cloth_info
        where c_id = #{cId} and user_id = #{userId}
    </delete>

    <insert id="saveDI">
        insert into diary_info
        values (#{dId}, #{dDate}, #{dLocation1}, #{dLocation2}, #{dCody1}, #{dCody2}, #{dCody3})
    </insert>

    <insert id="saveDC">
        insert into diary_contents
        values (#{dId}, #{userId}, #{dScore}, #{dContent}, #{dPhotoName}, #{dPhotoPath})
    </insert>

    <update id="updateClothCount">
        update cloth_info
        set c_count = c_count + 1
        where c_id = ${cId}
    </update>

    <select id="findAllDiary" resultType="weatherwhere.team.domain.closet.Diary">
        select di.d_id, di.d_date, di.D_LOCATION1, di.D_LOCATION2, dc.USER_ID, dc.D_SCORE, dc.D_CONTENT, dc.D_PHOTO_PATH, ci.C_NAME AS d_cody_name1, ci2.C_NAME AS d_cody_name2, ci3.c_name AS d_cody_name3
        from DIARY_INFO di
        LEFT JOIN DIARY_CONTENTS dc ON di.D_ID = dc.D_ID
        LEFT JOIN CLOTH_INFO ci ON di.D_CODY1 = ci.C_ID
        LEFT JOIN CLOTH_INFO ci2 ON di.D_CODY2 = ci2.C_ID
        LEFT JOIN CLOTH_INFO ci3 ON di.D_CODY3 = ci3.C_ID
        where dc.user_id = #{userId}
        order by d_date desc
    </select>
</mapper>