@import url('common.css');

.leftBar{
    float:left; /* 메인안에 leftBar, right클래스 옆으로 레이아웃잡기 */
    width:20%;
    height:100%;
    text-align:center;
    border-right:1px solid black;
}

#logo{
    font-size:20px;
    padding-top:50px;
}

#profile{
    padding-top:20%;
}

#profile .id{
    font-size:20px;

}
#nav{
    padding:30px;
    line-height: 80px;

}
#nav li input{
    font-size:25px;
    width:100%;
    height:70px;
    border:0px;
    background-color:white;
    cursor:pointer; /* 커서 올라가면 손가락모양 */
}

#logout{
    padding:20%;
}

#logout input{
    width:120px;
    font-size:20px;
    padding:10px;
    border:none;
    background-color:#D9D9D9;
    cursor:pointer; /* 커서 올라가면 손가락모양 */
}
